- Alterações desta versão
    - estou encontrando menos municipios rdd == 1, imagino porque botei situacao == deferido. Posso testar para ver se os resultados melhoram

# Configurando o ambiente

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re
import seaborn as sns
#import basedosdados as bd
import pyodbc
import re
import time

# Procurando profissões STEM

In [2]:
cbos_stem = "1223 1236 1237 1413 1425 1426 2011 2012 2021 2030 2031 2032 2033 2034 2111 2112 2122 2123 2124 2131 2132 2133 2134 2140 2142 2143 2144 2145 2146 2147 2148 2149 2211 2212 2221 2222 2341 2342 2343 2344 2513 3001 3003 3011 3012 3111 3112 3115 3121 3122 3123 3161 3171 3172 3180 3181 3182 3183 3185 3186 3187 3201 3212 3253 3951"

- fonte: Machado et all 2021

In [3]:
cbos_stem = tuple(cbos_stem.split(" "))

# Procurando Candidatos STEM

## Procurando candidatos eleitos na BD+

In [4]:
#query = """ SELECT
#                *         
#            FROM `basedosdados.br_tse_eleicoes.candidatos` candidatos
#            INNER JOIN `basedosdados.br_tse_eleicoes.resultados_candidato` resultados
#            ON candidatos.id_candidato_bd = resultados.id_candidato_bd
#            WHERE candidatos.cargo = 'prefeito'
#            AND resultados.tipo_eleicao = 'eleicao ordinaria'
#            AND candidatos.tipo_eleicao = 'eleicao ordinaria'
#            AND resultados.turno = 1
#            AND resultados.ano = 2020
#            AND candidatos.ano = 2020
#            AND candidatos.situacao = 'deferido'"""
#
#eleitos = bd.read_sql(query, billing_project_id= "econometria-314719")

### salvando

In [5]:
#eleitos.to_csv('output/eleitos.csv', sep = ";", index = False, encoding = "utf-8-sig")

### abrindo

In [6]:
eleitos = pd.read_csv("Dados/input/eleitos.csv", sep = ";", dtype = {"id_municipio": str, "id_municipio_tse": str, "id_candidato_bd": str, "cpf": str})

In [7]:
eleitos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 17702 entries, 0 to 17701
Data columns (total 40 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ano                   17702 non-null  int64
 1   tipo_eleicao          17702 non-null  object
 2   sigla_uf              17702 non-null  object
 3   id_municipio          17702 non-null  object
 4   id_municipio_tse      17702 non-null  object
 5   id_candidato_bd       17702 non-null  object
 6   cpf                   17702 non-null  object
 7   titulo_eleitoral      17702 non-null  int64
 8   sequencial            17702 non-null  int64
 9   numero                17702 non-null  int64
 10  nome                  17702 non-null  object
 11  nome_urna             17702 non-null  object
 12  numero_partido        17702 non-null  int64
 13  sigla_partido         17702 non-null  object
 14  cargo                 17702 non-null  object
 15  situacao              17702 non-null  object
 16  ocupacao              17702 non-null  object
 17  data_nascimento       17702 non-null  object
 18  idade                 17702 non-null  int64
 19  genero                17702 non-null  object
 20  instrucao             17702 non-null  object
 21  estado_civil          17702 non-null  object
 22  nacionalidade         17702 non-null  object
 23  sigla_uf_nascimento   17702 non-null  object
 24  municipio_nascimento  17702 non-null  object
 25  email                 17702 non-null  object
 26  raca                  17608 non-null  object
 27  ano_1                 17702 non-null  int64
 28  turno                 17702 non-null  int64
 29  tipo_eleicao_1        17702 non-null  object
 30  sigla_uf_1            17702 non-null  object
 31  id_municipio_1        17702 non-null  int64
 32  id_municipio_tse_1    17702 non-null  int64
 33  cargo_1               17702 non-null  object
 34  sigla_partido_1       17702 non-null  object
 35  numero_candidato      17702 non-null  int64
 36  sequencial_candidato  17702 non-null  int64
 37  id_candidato_bd_1     17702 non-null  int64
 38  resultado             17702 non-null  object
 39  votos                 17702 non-null  int64
dtypes: int64(14), object(26)
memory usage: 5.4+ MB

In [8]:
len(eleitos)

17702

### Mantendo apenas municípios onde candidato foi eleito no primeiro turno

In [9]:
eleitos["resultado"].unique()

array(['nao eleito', '2º turno', 'eleito'], dtype=object)

In [10]:
eleitos["decisao_primeiro_turno"] = eleitos["resultado"] == 'eleito'

In [11]:
eleitos["decisao_primeiro_turno"].value_counts()

False    12435
True      5267
Name: decisao_primeiro_turno, dtype: int64

In [12]:
eleitos["decisao_primeiro_turno"] = eleitos.groupby(["id_municipio_tse"]).decisao_primeiro_turno.transform('sum')

In [13]:
eleitos["decisao_primeiro_turno"].value_counts()

1    16557
0     1145
Name: decisao_primeiro_turno, dtype: int64

In [14]:
eleitos = eleitos[eleitos["decisao_primeiro_turno"] == 1]

In [15]:
len(eleitos["id_municipio"].unique())

5267

### Criando variável de percentual de votos por candidato

In [16]:
eleitos["total_votos"] = eleitos.groupby(["id_municipio_tse"]).votos.transform('sum')

In [17]:
eleitos["%votos"] = (eleitos.votos / eleitos.total_votos)

### Criando variável para segundo lugar

In [18]:
len(eleitos)

16557

In [19]:
eleitos["2_lugar"] = eleitos[eleitos["resultado"] == 'nao eleito'].groupby(["id_municipio_tse"]).votos.transform('max')

In [20]:
eleitos["2_lugar"] = eleitos.votos == eleitos["2_lugar"]

### Criando variável para terceiro lugar

In [21]:
eleitos["3_lugar"] = eleitos[(eleitos["resultado"] == 'nao eleito') & (eleitos["2_lugar"] == False)].groupby(["id_municipio_tse"]).votos.transform('max')

In [22]:
eleitos["3_lugar"] = eleitos.votos == eleitos["3_lugar"]

### Mantendo apenas o eleito, o segundo e o terceiro lugar

In [23]:
eleitos = eleitos[(eleitos["resultado"] == 'eleito') | (eleitos["2_lugar"] == True) | (eleitos["3_lugar"] == True)]

In [24]:
eleitos.sort_values(by = "id_municipio").head(20)

,ano,tipo_eleicao,sigla_uf,id_municipio,id_municipio_tse,id_candidato_bd,cpf,titulo_eleitoral,sequencial,numero,...,numero_candidato,sequencial_candidato,id_candidato_bd_1,resultado,votos,decisao_primeiro_turno,total_votos,%votos,2_lugar,3_lugar
7813,2020,eleicao ordinaria,RO,1100015,310,500468,66145201215,8912282399,220001187738,19,...,19,220001187738,500468,eleito,7536,1,13120,0.574390,False,False
3071,2020,eleicao ordinaria,RO,1100015,310,1494057,16994140172,4122242305,220001055240,12,...,12,220001055240,1494057,nao eleito,4526,1,13120,0.344970,True,False
3427,2020,eleicao ordinaria,RO,1100015,310,285972,49891030920,6843012380,220000768332,13,...,13,220000768332,285972,nao eleito,732,1,13120,0.055793,False,True
936,2020,eleicao ordinaria,RO,1100031,450,29478,34061738291,5696402321,220000955267,11,...,11,220000955267,29478,eleito,2242,1,3630,0.617631,False,False
14404,2020,eleicao ordinaria,RO,1100031,450,110633,38549182249,5680032348,220001137117,51,...,51,220001137117,110633,nao eleito,200,1,3630,0.055096,False,True
12970,2020,eleicao ordinaria,RO,1100031,450,225569,45751609204,8183392321,220001193423,45,...,45,220001193423,225569,nao eleito,1188,1,3630,0.327273,True,False
15548,2020,eleicao ordinaria,RO,1100049,94,782088,89845277268,13637562380,220001025502,55,...,55,220001025502,782088,eleito,25791,1,42251,0.610423,False,False
10805,2020,eleicao ordinaria,RO,1100049,94,1235541,08082136871,7945522330,220001268453,25,...,25,220001268453,1235541,nao eleito,12692,1,42251,0.300395,True,False
17444,2020,eleicao ordinaria,RO,1100049,94,119076,39036073200,6245192364,220001198451,90,...,90,220001198451,119076,nao eleito,3220,1,42251,0.076211,False,True
5800,2020,eleicao ordinaria,RO,1100056,272,631087,77209559272,12159292380,220000750651,15,...,15,220000750651,631087,nao eleito,2177,1,8926,0.243894,False,True
12617,2020,eleicao ordinaria,RO,1100056,272,321867,52617831000,4714202321,220001005073,43,...,43,220001005073,321867,eleito,3741,1,8926,0.419113,False,False
10120,2020,eleicao ordinaria,RO,1100056,272,118662,39014347200,5899632305,220000745959,25,...,25,220000745959,118662,nao eleito,3008,1,8926,0.336993,True,False
7663,2020,eleicao ordinaria,RO,1100064,230,30511,34120050297,6598382321,220000835461,19,...,19,220000835461,30511,nao eleito,786,1,6920,0.113584,False,True
12487,2020,eleicao ordinaria,RO,1100064,230,1592149,22305122349,11507232330,220001066451,40,...,40,220001066451,1592149,eleito,3895,1,6920,0.562861,False,False
12835,2020,eleicao ordinaria,RO,1100064,230,1775293,31588859215,5701512313,220001010804,43,...,43,220001010804,1775293,nao eleito,2239,1,6920,0.323555,True,False
3010,2020,eleicao ordinaria,RO,1100072,655,1292123,09447216803,30064180108,220000862759,12,...,12,220000862759,1292123,nao eleito,1178,1,4322,0.272559,True,False
12049,2020,eleicao ordinaria,RO,1100072,655,612425,75584964204,11627392356,220000649931,40,...,40,220000649931,612425,eleito,2087,1,4322,0.482878,False,False
1194,2020,eleicao ordinaria,RO,1100072,655,286636,49930621253,7776232330,220000663093,11,...,11,220000663093,286636,nao eleito,706,1,4322,0.163350,False,True
14946,2020,eleicao ordinaria,RO,1100080,213,166931,42016762268,5905062305,220001054362,55,...,55,220001054362,166931,nao eleito,1691,1,6480,0.260957,True,False
367,2020,eleicao ordinaria,RO,1100080,213,535102,69261636268,10453082330,220000775161,10,...,10,220000775161,535102,eleito,4789,1,6480,0.739043,False,False

### Criando variável de diferença entre primeiro e segundo candidatos e entre primeiro e terceiro candidatos

In [25]:
dif_segundo = pd.DataFrame(eleitos.groupby("id_municipio_tse")['%votos'].apply(lambda x: x.nlargest(2).iloc[0] - x.nlargest(2).iloc[-1])).reset_index()

In [26]:
dif_segundo = dif_segundo.rename(columns = {"%votos": "dif_votos_2_lugar"})

In [27]:
eleitos = eleitos.merge(dif_segundo, how = "left", on = "id_municipio_tse")

In [28]:
dif_terceiros = pd.DataFrame(eleitos.groupby("id_municipio_tse")['%votos'].apply(lambda x: x.nlargest(3).iloc[0] - x.nlargest(3).iloc[-1])).reset_index()

In [29]:
dif_terceiros = dif_terceiros.rename(columns = {"%votos": "dif_votos_3_lugar"})

In [30]:
eleitos = eleitos.merge(dif_terceiros, how = "left", on = "id_municipio_tse")

In [31]:
eleitos

,ano,tipo_eleicao,sigla_uf,id_municipio,id_municipio_tse,id_candidato_bd,cpf,titulo_eleitoral,sequencial,numero,...,id_candidato_bd_1,resultado,votos,decisao_primeiro_turno,total_votos,%votos,2_lugar,3_lugar,dif_votos_2_lugar,dif_votos_3_lugar
0,2020,eleicao ordinaria,MA,2108900,8753,229903,46029877372,21558431147,100000766496,35,...,229903,nao eleito,48,1,12029,0.003990,False,True,0.028016,0.508022
1,2020,eleicao ordinaria,MG,3104007,40797,256140,47771127800,64487590281,130000829575,30,...,256140,nao eleito,4814,1,52928,0.090954,False,True,0.244124,0.436933
2,2020,eleicao ordinaria,AM,1303700,2739,396295,58360905215,14344452291,40001155600,35,...,396295,nao eleito,64,1,12750,0.005020,False,True,0.193412,0.589176
3,2020,eleicao ordinaria,BA,2924405,37893,446377,61970409568,67717190558,50000878741,35,...,446377,nao eleito,4318,1,20757,0.208026,True,False,0.583948,0.583948
4,2020,eleicao ordinaria,MG,3130309,46051,448055,62099469687,82855220264,130000924281,35,...,448055,nao eleito,268,1,5496,0.048763,False,True,0.070233,0.461972
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13308,2020,eleicao ordinaria,TO,1709500,93858,1719990,28884329191,16283812739,270001044309,90,...,1719990,eleito,20116,1,39404,0.510507,False,False,0.077581,0.458075
13309,2020,eleicao ordinaria,MT,5101852,90905,1722649,00124773117,35058172704,110000827225,90,...,1722649,nao eleito,587,1,3333,0.176118,False,True,0.140114,0.276028
13310,2020,eleicao ordinaria,MT,5106802,91359,1760144,30827310900,18444551856,110001042327,90,...,1760144,nao eleito,50,1,2881,0.017355,False,True,0.041999,0.494967
13311,2020,eleicao ordinaria,RJ,3306107,59218,1784783,32093632772,67680040361,190000995787,90,...,1784783,nao eleito,2147,1,36259,0.059213,False,True,0.017816,0.405830
13312,2020,eleicao ordinaria,SP,3541901,69396,1797190,03619196893,38995250159,250001129737,90,...,1797190,nao eleito,176,1,5382,0.032702,False,True,0.273133,0.587514

In [32]:
eleitos.loc[eleitos['dif_votos_2_lugar'] == eleitos['dif_votos_3_lugar'], 'dif_votos_3_lugar'] = np.nan

In [33]:
len(eleitos[eleitos['dif_votos_3_lugar'] <= 0.15].id_municipio_tse.unique())

317

In [34]:
eleitos.sort_values(by = "id_municipio").groupby(["id_municipio_tse"])["%votos"].diff(-1)

6059     0.229421
2488     0.289177
2732          NaN
606      0.562534
10874   -0.272176
           ...
7894     0.324288
7267          NaN
4599    -0.154146
7987     0.395328
2260          NaN
Name: %votos, Length: 13313, dtype: float64

In [35]:
eleitos["dif_votos"] = eleitos.groupby(["id_municipio_tse"])["%votos"].diff(-1) * (-1)

In [36]:
eleitos["dif_votos"] = eleitos.groupby(["id_municipio_tse"])["dif_votos"].transform('max')

In [37]:
eleitos = eleitos.sort_values(by = "id_municipio")

In [38]:
len(eleitos["id_municipio"].unique())

5267

In [39]:
eleitos['dif_votos'] = eleitos['dif_votos'].fillna(0) # colocando diferença igual a 0 para cidades em que o candidato teve 100% dos votos

In [40]:
eleitos['dif_votos'] = eleitos['dif_votos'].abs()

In [41]:
eleitos.dif_votos.describe() # distribuição faz sentido

count    13313.000000
mean         0.241278
std          0.195516
min          0.000000
25%          0.079954
50%          0.191617
75%          0.376029
max          0.997461
Name: dif_votos, dtype: float64

In [42]:
eleitos.describe()

,ano,titulo_eleitoral,sequencial,numero,numero_partido,idade,ano_1,turno,id_municipio_1,id_municipio_tse_1,numero_candidato,sequencial_candidato,id_candidato_bd_1,votos,decisao_primeiro_turno,total_votos,%votos,dif_votos_2_lugar,dif_votos_3_lugar,dif_votos
count,13313.0,1.331300e+04,1.331300e+04,13313.000000,13313.000000,13313.000000,13313.0,13313.0,1.331300e+04,13313.000000,13313.000000,1.331300e+04,1.331300e+04,13313.000000,13313.0,1.331300e+04,13313.000000,13313.000000,8959.000000,13313.000000
mean,2020.0,5.892269e+10,1.560206e+11,28.757305,28.757305,49.654849,2020.0,1.0,3.252043e+06,51593.130023,28.757305,1.560206e+11,8.656970e+05,5102.830166,1.0,1.519707e+04,0.386968,0.180775,0.398241,0.241278
std,0.0,6.444390e+10,6.847858e+10,19.517645,19.517645,10.955888,0.0,0.0,9.879560e+05,29269.134833,19.517645,6.847858e+10,5.176271e+05,14905.692184,0.0,3.868662e+04,0.208126,0.178934,0.178059,0.195516
min,2020.0,2.051341e+06,1.000065e+10,10.000000,10.000000,21.000000,2020.0,1.0,1.100015e+06,19.000000,10.000000,1.000065e+10,1.620000e+02,2.000000,1.0,6.160000e+02,0.000252,0.000000,0.007768,0.000000
25%,2020.0,1.800208e+10,1.100007e+11,13.000000,13.000000,42.000000,2020.0,1.0,2.513307e+06,24830.000000,13.000000,1.100007e+11,4.178580e+05,1249.000000,1.0,3.929000e+03,0.240441,0.053070,0.262422,0.079954
50%,2020.0,3.638170e+10,1.500011e+11,22.000000,22.000000,49.000000,2020.0,1.0,3.146404e+06,51438.000000,22.000000,1.500011e+11,8.282730e+05,2483.000000,1.0,7.248000e+03,0.411529,0.125038,0.420359,0.191617
75%,2020.0,7.450167e+10,2.100009e+11,45.000000,45.000000,57.000000,2020.0,1.0,4.117404e+06,78875.000000,45.000000,2.100009e+11,1.292588e+06,5172.000000,1.0,1.451000e+04,0.516081,0.245775,0.519276,0.376029
max,2020.0,4.336587e+11,2.700013e+11,90.000000,90.000000,95.000000,2020.0,1.0,5.222302e+06,99074.000000,90.000000,2.700013e+11,1.800485e+06,784307.000000,1.0,1.237764e+06,1.000000,0.997461,0.986481,0.997461

In [43]:
cpfs_rdd = tuple(eleitos.cpf.unique())

In [44]:
len(cpfs_rdd)

13313

## Criando função para procurar os cpfs eleitos na RAIS em todos os estados e em todos os anos antes de 2012

In [45]:
#import pandas as pd
#import numpy as np
#import seaborn as sns
##import basedosdados as bd

#
#sns.set(rc={'figure.figsize':(11.7,8.27)})
#sns.set_theme(style="darkgrid")

## Definindo profissões STEM

In [46]:
server = 'sql-sigilo-eastus-prod.71d5dd223a40.database.windows.net'

database = 'RAIS'

port= '1433'

username = 'GabrielCP3'

password = '@VN1ai2GG3as4'

driver= '{SQL Server}'

cnxn = pyodbc.connect('DRIVER='+driver+';SERVER='+server+';PORT='+port+';DATABASE='+database+';UID='+username+';PWD='+ password)

cursor = cnxn.cursor()

## Criando anos e estados de interesse

In [47]:
anos =[2003]
for i in range(2018-anos[0]):
    anos.append(anos[-1] + 1)

In [48]:
estados = list(eleitos.sigla_uf.unique())

## Buscando na RAIS

In [49]:
df = pd.DataFrame()

In [50]:
def rais(ano,estado):
    global df
   
    if ano >= 2011:
        consulta_1 = """ SELECT
                    a.CPF cpf,
                    a.[Nome Trabalhador] nome,
                    a.[Município] id_municipio,
                    a.[Sexo Trabalhador] sexo,
                    a.[Raça Cor] raca,
                    a.[Idade] idade,
                    a.[CNPJ Raiz] cnpj_raiz,
                    a.[CBO Ocupação 2002] cbo_2002,
                    a.[CNAE 2 0 Classe] as cnae,
                    a.[Vl Remun Dezembro Nom] rem_dez,
                    a.[Data Admissão Declarada] data_adm,
                    a.[Tempo Emprego] tenure,
                    a.[Vínculo Ativo 31 12] vinc_ativ3112
                    FROM dbo.{}{}ID a
                    WHERE a.[Vínculo Ativo 31 12] != '0'
                    AND a.[Vínculo Ativo 31 12] != '0'
                    AND a.[Vínculo Ativo 31 12] != ' 0'
                    AND a.[Vínculo Ativo 31 12] != 0
                    AND a.[CPF] IN {}
                   """.format(estado,ano,cpfs_rdd)
        
        df_provisorio = pd.read_sql(consulta_1,  cnxn)
        
        df_provisorio["Ano"] = ano
        df_provisorio["Estado"] = estado
        
        df_provisorio['cpf'] = df_provisorio['cpf'].str.strip()
    
        df_provisorio.loc[(df_provisorio['vinc_ativ3112'] == ' 1') |
                      (df_provisorio['vinc_ativ3112'] == '1')  |
                      (df_provisorio['vinc_ativ3112'] == 'True'), 'vinc_ativ3112'] = 1
    
        df_provisorio.loc[(df_provisorio['vinc_ativ3112'] == ' 0') |
                      (df_provisorio['vinc_ativ3112'] == '0')  |
                      (df_provisorio['vinc_ativ3112'] == 'False'),'vinc_ativ3112'] = 0
           
        df = pd.concat([df, df_provisorio])
           
        print(f"foi criado um df de tamanho {len(df)}")

    elif ano >= 2006:
        
        consulta_1 = """ SELECT
                        a.CPF cpf,
                        a.[NOME] nome,
                        a.[MUNICIPIO] id_municipio,
                        a.[GENERO] sexo,
                        a.[RACA_COR] raca,
                        a.[DT NASCIMENT] dt_nasc,
                        a.[RADIC CNPJ] cnpj_raiz,
                        a.[OCUP 2002] cbo_2002,
                        a.[SB CLAS 20] as sbclas20,
                        a.[REM DEZEMBRO] rem_dez,
                        a.[DT ADMISSAO] data_adm,
                        a.[TEMP EMPR] tenure,
                        a.[EMP EM 31 12] vinc_ativ3112
                        FROM dbo.{}{}ID a
                        WHERE a.[EMP EM 31 12] != '0'
                        AND a.[EMP EM 31 12] != '0'
                        AND a.[EMP EM 31 12] != ' 0'
                        AND a.[EMP EM 31 12] != 0
                        AND a.[CPF] IN {}
                        """.format(estado,ano,cpfs_rdd)
        
        df_provisorio = pd.read_sql(consulta_1,  cnxn)
        
        df_provisorio["Ano"] = ano
        df_provisorio["Estado"] = estado
        
        df_provisorio['cpf'] = df_provisorio['cpf'].str.strip()

    
        df_provisorio.loc[(df_provisorio['vinc_ativ3112'] == ' 1') |
                      (df_provisorio['vinc_ativ3112'] == '1')  |
                      (df_provisorio['vinc_ativ3112'] == 'True'), 'vinc_ativ3112'] = 1
    
        df_provisorio.loc[(df_provisorio['vinc_ativ3112'] == ' 0') |
                      (df_provisorio['vinc_ativ3112'] == '0')  |
                      (df_provisorio['vinc_ativ3112'] == 'False'),'vinc_ativ3112'] = 0
           
        df = pd.concat([df, df_provisorio])
           
        print(f"foi criado um df de tamanho {len(df)}")
        
        
    else:
        
        consulta_1 = """ SELECT
                        a.CPF cpf,
                        a.[NOME] nome,
                        a.[MUNICIPIO] id_municipio,
                        a.[SEXO] sexo,
                        a.[RACA_COR] raca,
                        a.[DT NASCIMENT] dt_nasc,
                        a.[RADIC CNPJ] cnpj_raiz,
                        a.[OCUP 2002] cbo_2002,
                        a.[CLAS CNAE 95] as cnae_95,
                        a.[REM DEZEMBRO] rem_dez,
                        a.[DT ADMISSAO] data_adm,
                        a.[TEMP EMPR] tenure,
                        a.[EMP EM 31 12] vinc_ativ3112
                        FROM dbo.{}{}ID a
                        WHERE a.[EMP EM 31 12] != '0'
                        AND a.[EMP EM 31 12] != '0'
                        AND a.[EMP EM 31 12] != ' 0'
                        AND a.[EMP EM 31 12] != 0
                        AND a.[CPF] IN {}
                        """.format(estado,ano,cpfs_rdd)
        df_provisorio = pd.read_sql(consulta_1,  cnxn)
        
        df_provisorio["Ano"] = ano
        df_provisorio["Estado"] = estado
        
        df_provisorio['cpf'] = df_provisorio['cpf'].str.strip()

    
        df_provisorio.loc[(df_provisorio['vinc_ativ3112'] == ' 1') |
                      (df_provisorio['vinc_ativ3112'] == '1')  |
                      (df_provisorio['vinc_ativ3112'] == 'True'), 'vinc_ativ3112'] = 1
    
        df_provisorio.loc[(df_provisorio['vinc_ativ3112'] == ' 0') |
                      (df_provisorio['vinc_ativ3112'] == '0')  |
                      (df_provisorio['vinc_ativ3112'] == 'False'),'vinc_ativ3112'] = 0
           
        df = pd.concat([df, df_provisorio])
           
        print(f"foi criado um df de tamanho {len(df)}")

In [51]:
start_time = time.time()

for x in estados:
    for i in anos:
        rais(i,x)
    
print("My program took", time.time() - start_time, "to run")

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 7

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 66

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 130

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 186

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 241

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 305

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 387

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 462

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 550

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 632

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 713

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 784

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 849

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 911

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 988

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 1056

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 1060

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 1083

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 1107

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 1132

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 1158

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 1186

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 1221

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 1263

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 1302

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 1335

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 1368

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 1400

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 1440

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 1469

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 1506

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 1534

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 1540

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 1580

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 1629

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 1675

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 1728

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 1791

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 1860

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 1932

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 2006

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 2078

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 2149

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 2220

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 2291

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 2357

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 2422

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 2480

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 2480

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 2486

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 2494

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 2502

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 2513

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 2525

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 2542

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 2561

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 2580

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 2598

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 2617

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 2635

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 2654

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 2666

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 2681

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 2694

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 2707

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 2764

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 2848

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 2969

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 3090

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 3214

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 3355

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 3488

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 3633

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 3762

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 3911

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 4052

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 4183

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 4282

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 4391

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 4488

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 4488

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 4506

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 4528

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 4547

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 4568

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 4593

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 4620

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 4645

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 4672

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 4695

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 4719

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 4742

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 4765

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 4790

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 4821

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 4851

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 4864

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 4985

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 5119

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 5260

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 5412

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 5584

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 5762

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 5922

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 6075

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 6220

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 6367

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 6522

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 6679

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 6796

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 6943

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 7061

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 7082

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 7179

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 7304

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 7429

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 7548

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 7711

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 7894

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 8079

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 8285

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 8463

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 8655

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 8828

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 9006

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 9150

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 9302

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 9471

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 9479

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 9626

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 9784

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 9947

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 10130

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 10370

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 10613

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 10862

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 11133

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 11401

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 11703

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 12018

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 12328

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 12593

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 12872

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 13141

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 13152

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 13267

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 13414

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 13556

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 13711

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 13916

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 14196

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 14456

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 14681

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 14875

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 15102

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 15319

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 15531

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 15697

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 15891

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 16073

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 16079

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 16215

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 16367

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 16508

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 16642

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 16834

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 17041

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 17251

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 17458

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 17658

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 17881

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 18082

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 18291

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 18467

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 18662

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 18822

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 18833

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 18958

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 19075

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 19203

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 19339

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 19567

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 19840

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 20103

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 20376

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 20646

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 20913

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 21176

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 21429

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 21628

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 21842

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 22028

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 22059

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 22177

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 22324

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 22473

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 22634

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 22849

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 23100

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 23342

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 23587

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 23805

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 24049

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 24278

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 24501

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 24669

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 24867

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 25070

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 25073

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 25111

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 25149

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 25196

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 25241

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 25330

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 25425

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 25512

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 25603

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 25692

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 25789

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 25882

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 25971

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 26040

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 26121

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 26192

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 26202

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 26269

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 26359

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 26453

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 26547

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 26628

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 26739

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 26838

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 26941

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 27030

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 27139

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 27232

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 27332

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 27406

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 27495

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 27575

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 27619

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 27887

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 28197

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 28518

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 28863

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 29279

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 29767

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 30184

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 30615

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 30974

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 31393

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 31777

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 32151

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 32452

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 32831

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 33163

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 33252

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 33683

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 34178

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 34678

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 35199

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 35934

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 36780

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 37576

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 38361

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 39047

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 39844

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 40596

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 41355

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 41934

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 42596

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 43209

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 43225

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 43262

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 43304

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 43352

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 43396

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 43481

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 43586

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 43686

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 43802

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 43890

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 43998

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 44089

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 44182

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 44253

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 44329

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 44394

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 44402

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 44460

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 44534

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 44596

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 44688

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 44849

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 45035

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 45193

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 45352

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 45487

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 45645

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 45788

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 45926

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 46020

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 46128

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 46228

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 46368

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 46823

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 47353

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 47876

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 48705

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 49469

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 50312

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 51140

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 51978

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 52726

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 53533

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 54319

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 55077

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 55683

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 56289

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 56856

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 56889

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 57131

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 57420

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 57707

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 58002

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 58392

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 58871

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 59312

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 59768

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 59782

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 60229

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 60651

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 61101

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 61441

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 61822

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 62185

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 62246

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 62448

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 62679

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 62929

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 63162

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 63456

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 63841

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 64184

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 64549

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 64843

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 65193

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 65521

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 65861

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 66107

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 66394

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 66639

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 66724

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 67099

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 67574

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 68060

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 68558

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 68991

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 69530

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 70037

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 70534

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 70922

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 71411

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 71883

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 72340

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 72669

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 73070

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 73427

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 73437

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 73489

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 73560

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 73626

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 73703

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 73782

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 73873

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 73961

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 74047

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 74114

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 74185

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 74260

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 74330

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 74385

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 74449

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 74499

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 74526

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 74601

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 74716

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 74826

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 74939

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 75044

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 75175

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 75290

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 75419

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 75523

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 75654

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 75778

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 75894

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 75972

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 76064

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 76146

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 76166

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 76304

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 76470

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 76650

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 76846

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 77043

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 77298

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 77510

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 77730

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 77895

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 78112

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 78306

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 78496

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 78641

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 78820

C:\ProgramData\Anaconda3\lib\site-packages\pandas\io\sql.py:761: UserWarning: pandas only support SQLAlchemy connectable(engine/connection) ordatabase string URI or sqlite3 DBAPI2 connectionother DBAPI2 objects are not tested, please consider using SQLAlchemy
  warnings.warn(

foi criado um df de tamanho 78978
My program took 4608.743083000183 to run

In [52]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 78978 entries, 0 to 157
Data columns (total 18 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   cpf            78978 non-null  object
 1   nome           78978 non-null  object
 2   id_municipio   78978 non-null  object
 3   sexo           78978 non-null  object
 4   raca           78978 non-null  object
 5   dt_nasc        35507 non-null  object
 6   cnpj_raiz      78978 non-null  object
 7   cbo_2002       78978 non-null  object
 8   cnae_95        8334 non-null   object
 9   rem_dez        78978 non-null  object
 10  data_adm       78978 non-null  object
 11  tenure         78978 non-null  object
 12  vinc_ativ3112  78978 non-null  object
 13  Ano            78978 non-null  int64
 14  Estado         78978 non-null  object
 15  sbclas20       27173 non-null  object
 16  idade          43471 non-null  object
 17  cnae           43471 non-null  object
dtypes: int64(1), object(17)
memory usage: 11.4+ MB

In [53]:
df.head().T

,0,1,2,3,4
cpf,29667959805,34175970649,62322907120,68499752268,28806727249
nome,SHEILA FLAVIA ANSELMO,ALCINO BILAC MACHADO,JOSE ABEL PINHEIRO,EDUARDO BERTOLETTI SIVIERO,VALCIR BORGES
id_municipio,110092,110006,110011,110147,110014
sexo,2,1,1,1,1
raca,2,2,2,2,2
dt_nasc,15071977,1011955,10061974,19031981,9011971
cnpj_raiz,1587887,4391512,4279238,4848293,15884109
cbo_2002,CBO 223605,CBO 111405,CBO 515105,CBO 411010,CBO 351305
cnae_95,75116,75116,75116,75116,75116
rem_dez,"3465,90","2799,84","222,84","1686,00","1411,64"
data_adm,8032002,2012001,3092001,1042002,1012001
tenure,"12,0","24,8","22,8","10,0","28,0"
vinc_ativ3112,21,21,11,21,21
Ano,2003,2003,2003,2003,2003
Estado,RO,RO,RO,RO,RO
sbclas20,NaN,NaN,NaN,NaN,NaN
idade,NaN,NaN,NaN,NaN,NaN
cnae,NaN,NaN,NaN,NaN,NaN

In [54]:
df['cbo_2002'] = df['cbo_2002'].str.extract('(\d+)').astype(str)

In [55]:
tabela = pd.DataFrame(df.groupby('cbo_2002')['cbo_2002'].count().nlargest(20))

In [56]:
tabela["cbos"] = tabela.index

In [57]:
top_20_cbos = tuple(tabela.cbos)

## Procurando cbos na BD+

In [58]:
#import basedosdados as bd
#
#query = """ SELECT * FROM `basedosdados.br_ibge_cbo_2002.sinonimo`
#            WHERE cbo_2002 IN {} """.format(top_20_cbos)
#
#tabela_top_20_cbos = bd.read_sql(query, billing_project_id= "econometria-314719")

In [59]:
#tabela_top_20_cbos

# Gerando variável de tempo trabalhado em profissão STEM "stem_tenure"

In [60]:
lista = list(df["tenure"])

In [61]:
df["tenure"]

0            12,0
1            24,8
2            22,8
3            10,0
4            28,0
          ...
153          16.9
154    119.300003
155         391.0
156          23.9
157    204.899994
Name: tenure, Length: 78978, dtype: object

In [62]:
coluna = []

for i in lista:
    if ',' in str(i).lower():  
        coluna.append(i.replace(',', '.'))
    else:
        coluna.append(i)

In [63]:
df["tenure"] = coluna

In [64]:
df["tenure"] = df['tenure'].astype(float)

In [65]:
df["tenure"] = df['tenure'].astype(int)

In [66]:
df['data_adm'] = df['data_adm'].astype(int)

In [67]:
df['cnpj_raiz'] = df['cnpj_raiz'].astype(int)

In [68]:
df["count"] = df.groupby(['cpf','data_adm',"cbo_2002"])["cbo_2002"].transform('count')

In [69]:
df = df.drop_duplicates()

In [70]:
df_tenure = df.groupby(['cpf','cbo_2002','cnpj_raiz','data_adm','count']).max('tenure').reset_index()

In [71]:
df_tenure = df_tenure.sort_values(by = 'Ano', ascending = True)

In [72]:
df_tenure

               cpf cbo_2002  cnpj_raiz  data_adm  count  tenure   Ano
11223  25805975653   111410   17516113   9072001      1      18  2003
21135  64376559504   411005   13218763  16072003      1       4  2003
10722  23962615253   413225   60746948  11062002      1      17  2003
18712  53859146068   331305   33621384  15032002      1      11  2003
28164  96226919604   142105   17406604  18112002      1      12  2003
...            ...      ...        ...       ...    ...     ...   ...
23247  74785001291   231210   84263862  12022015      4      46  2018
23242  74749692468   351105   33541368   8062018      1       6  2018
10093  21474702953   111410   76416965  24032015      1      45  2018
16020  43185347153   517310   37014123  16081991      2     328  2018
13039  31842634879   232115   27986120   1112017      2      13  2018

[28887 rows x 7 columns]

# criar colunas "first_job"

In [73]:
df_tenure["first_year"] = df_tenure.groupby(['cpf','data_adm'])["Ano"].transform('min')

In [74]:
df_tenure

,cpf,cbo_2002,cnpj_raiz,data_adm,count,tenure,Ano,first_year
11223,25805975653,111410,17516113,9072001,1,18,2003,2003
21135,64376559504,411005,13218763,16072003,1,4,2003,2003
10722,23962615253,413225,60746948,11062002,1,17,2003,2003
18712,53859146068,331305,33621384,15032002,1,11,2003,2003
28164,96226919604,142105,17406604,18112002,1,12,2003,2003
...,...,...,...,...,...,...,...,...
23247,74785001291,231210,84263862,12022015,4,46,2018,2018
23242,74749692468,351105,33541368,8062018,1,6,2018,2018
10093,21474702953,111410,76416965,24032015,1,45,2018,2017
16020,43185347153,517310,37014123,16081991,2,328,2018,2018
13039,31842634879,232115,27986120,1112017,2,13,2018,2018

In [75]:
df_tenure['first_job'] = (df_tenure["Ano"] == df_tenure["first_year"])

In [76]:
df_tenure

,cpf,cbo_2002,cnpj_raiz,data_adm,count,tenure,Ano,first_year,first_job
11223,25805975653,111410,17516113,9072001,1,18,2003,2003,True
21135,64376559504,411005,13218763,16072003,1,4,2003,2003,True
10722,23962615253,413225,60746948,11062002,1,17,2003,2003,True
18712,53859146068,331305,33621384,15032002,1,11,2003,2003,True
28164,96226919604,142105,17406604,18112002,1,12,2003,2003,True
...,...,...,...,...,...,...,...,...,...
23247,74785001291,231210,84263862,12022015,4,46,2018,2018,True
23242,74749692468,351105,33541368,8062018,1,6,2018,2018,True
10093,21474702953,111410,76416965,24032015,1,45,2018,2017,False
16020,43185347153,517310,37014123,16081991,2,328,2018,2018,True
13039,31842634879,232115,27986120,1112017,2,13,2018,2018,True

# Criar coluna "previous_tenure"

In [77]:
df_tenure['previous_tenure'] = df_tenure.groupby(['cpf','data_adm'])['tenure'].shift(1)

In [78]:
#df_tenure["previous_tenure"] = df_tenure['tenure'].shift(1)

In [79]:
df_tenure['previous_tenure'] = df_tenure['previous_tenure'].fillna(0)

In [80]:
df_tenure

,cpf,cbo_2002,cnpj_raiz,data_adm,count,tenure,Ano,first_year,first_job,previous_tenure
11223,25805975653,111410,17516113,9072001,1,18,2003,2003,True,0.0
21135,64376559504,411005,13218763,16072003,1,4,2003,2003,True,0.0
10722,23962615253,413225,60746948,11062002,1,17,2003,2003,True,0.0
18712,53859146068,331305,33621384,15032002,1,11,2003,2003,True,0.0
28164,96226919604,142105,17406604,18112002,1,12,2003,2003,True,0.0
...,...,...,...,...,...,...,...,...,...,...
23247,74785001291,231210,84263862,12022015,4,46,2018,2018,True,0.0
23242,74749692468,351105,33541368,8062018,1,6,2018,2018,True,0.0
10093,21474702953,111410,76416965,24032015,1,45,2018,2017,False,33.0
16020,43185347153,517310,37014123,16081991,2,328,2018,2018,True,0.0
13039,31842634879,232115,27986120,1112017,2,13,2018,2018,True,0.0

# Criando coluna final "tenure_job"

In [81]:
df_tenure['tenure_job'] = df_tenure["tenure"] - df_tenure["previous_tenure"]

In [82]:
df_tenure

,cpf,cbo_2002,cnpj_raiz,data_adm,count,tenure,Ano,first_year,first_job,previous_tenure,tenure_job
11223,25805975653,111410,17516113,9072001,1,18,2003,2003,True,0.0,18.0
21135,64376559504,411005,13218763,16072003,1,4,2003,2003,True,0.0,4.0
10722,23962615253,413225,60746948,11062002,1,17,2003,2003,True,0.0,17.0
18712,53859146068,331305,33621384,15032002,1,11,2003,2003,True,0.0,11.0
28164,96226919604,142105,17406604,18112002,1,12,2003,2003,True,0.0,12.0
...,...,...,...,...,...,...,...,...,...,...,...
23247,74785001291,231210,84263862,12022015,4,46,2018,2018,True,0.0,46.0
23242,74749692468,351105,33541368,8062018,1,6,2018,2018,True,0.0,6.0
10093,21474702953,111410,76416965,24032015,1,45,2018,2017,False,33.0,12.0
16020,43185347153,517310,37014123,16081991,2,328,2018,2018,True,0.0,328.0
13039,31842634879,232115,27986120,1112017,2,13,2018,2018,True,0.0,13.0

In [83]:
df_tenure["stem_job"] = df_tenure["cbo_2002"].apply(lambda x: 1 if x[0:4] in cbos_stem else 0)

In [84]:
df_tenure["stem_job"].unique()

array([0, 1], dtype=int64)

In [85]:
df_tenure.query("stem_job == 1").head(10).T

,18506,26453,24296,14406,23362,19025,18556,19026,25148,27991
cpf,52965856668,88925420600,79451586172,36602973568,75456923653,55416837691,53177088691,55416837691,82920800400,95274596053
cbo_2002,300305,234405,301105,214255,142530,221105,214915,234405,214215,317205
cnpj_raiz,664902,25658402,2448607,8402620,31969702,25206285,3123987,5461142,649811,87691507
data_adm,1091986,22021999,21092002,19081991,1072001,3052000,3012000,6041992,1022001,28042000
count,1,1,1,1,1,1,1,1,1,1
tenure,200,47,5,144,27,37,38,140,25,33
Ano,2003,2003,2003,2003,2003,2003,2003,2003,2003,2003
first_year,2003,2003,2003,2003,2003,2003,2003,2003,2003,2003
first_job,True,True,True,True,True,True,True,True,True,True
previous_tenure,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
tenure_job,200.0,47.0,5.0,144.0,27.0,37.0,38.0,140.0,25.0,33.0
stem_job,1,1,1,1,1,1,1,1,1,1

In [86]:
len(df_tenure.query("stem_job == 1").cpf.unique())

508

In [87]:
len(df_tenure.query("stem_job == 0").cpf.unique())

9274

### Salvando

In [88]:
df_tenure.to_csv('Dados/output/230104_mayors_jobs_2020.csv', sep = ";", index = False, encoding = "utf-8-sig")

# Criando coluna "cbo_max"

In [89]:
df_tenure["total_tenure"] = df_tenure.groupby(['cpf','stem_job'])['tenure_job'].transform('sum')

In [90]:
df_tenure.query("stem_job == 1")

,cpf,cbo_2002,cnpj_raiz,data_adm,count,tenure,Ano,first_year,first_job,previous_tenure,tenure_job,stem_job,total_tenure
18506,52965856668,300305,664902,1091986,1,200,2003,2003,True,0.0,200.0,1,248.0
26453,88925420600,234405,25658402,22021999,1,47,2003,2003,True,0.0,47.0,1,47.0
24296,79451586172,301105,2448607,21092002,1,5,2003,2003,True,0.0,5.0,1,5.0
14406,36602973568,214255,8402620,19081991,1,144,2003,2003,True,0.0,144.0,1,166.0
23362,75456923653,142530,31969702,1072001,1,27,2003,2003,True,0.0,27.0,1,39.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
4209,04491693323,214240,6554380,1012017,2,23,2018,2018,True,0.0,23.0,1,23.0
23084,73770612272,317110,394585,18082016,1,28,2018,2017,False,16.0,12.0,1,165.0
4228,04507340802,222110,46379400,27122011,7,84,2018,2018,True,0.0,84.0,1,84.0
4247,04527574604,214205,5705083,25052015,4,43,2018,2018,True,0.0,43.0,1,43.0
10141,21583900268,222110,5613654,13051986,10,391,2018,2018,True,0.0,391.0,1,391.0

In [91]:
df_tenure_2 = df_tenure.copy()

In [92]:
df_tenure_2 = df_tenure_2.rename(columns = {"tenure": "tenure_rais"})

In [93]:
df_tenure_2 = df_tenure_2.rename(columns = {"total_tenure": "tenure"})

In [94]:
df_tenure_2 = df_tenure_2.query("stem_job == 1")

In [95]:
df_tenure_2["max_tenure_job"] = df_tenure_2.groupby(['cpf','stem_job'])['tenure_job'].transform('max')

In [96]:
df_tenure_2 = df_tenure_2[(df_tenure_2["max_tenure_job"] == df_tenure_2["tenure_job"])]

In [97]:
df_tenure_2

,cpf,cbo_2002,cnpj_raiz,data_adm,count,tenure_rais,Ano,first_year,first_job,previous_tenure,tenure_job,stem_job,tenure,max_tenure_job
18506,52965856668,300305,664902,1091986,1,200,2003,2003,True,0.0,200.0,1,248.0,200.0
26453,88925420600,234405,25658402,22021999,1,47,2003,2003,True,0.0,47.0,1,47.0,47.0
24296,79451586172,301105,2448607,21092002,1,5,2003,2003,True,0.0,5.0,1,5.0,5.0
14406,36602973568,214255,8402620,19081991,1,144,2003,2003,True,0.0,144.0,1,166.0,144.0
23362,75456923653,142530,31969702,1072001,1,27,2003,2003,True,0.0,27.0,1,39.0,27.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10373,22388742838,234405,57725681,23022015,2,46,2018,2016,False,22.0,24.0,1,24.0,24.0
4209,04491693323,214240,6554380,1012017,2,23,2018,2018,True,0.0,23.0,1,23.0,23.0
4228,04507340802,222110,46379400,27122011,7,84,2018,2018,True,0.0,84.0,1,84.0,84.0
4247,04527574604,214205,5705083,25052015,4,43,2018,2018,True,0.0,43.0,1,43.0,43.0
10141,21583900268,222110,5613654,13051986,10,391,2018,2018,True,0.0,391.0,1,391.0,391.0

In [98]:
df_tenure_2["max_year"] = df_tenure_2.groupby(['cpf','stem_job'])['Ano'].transform('max') # testando

In [99]:
df_tenure_2 = df_tenure_2[(df_tenure_2["max_year"] == df_tenure_2["Ano"])] # testando

In [100]:
df_tenure_2

,cpf,cbo_2002,cnpj_raiz,data_adm,count,tenure_rais,Ano,first_year,first_job,previous_tenure,tenure_job,stem_job,tenure,max_tenure_job,max_year
18506,52965856668,300305,664902,1091986,1,200,2003,2003,True,0.0,200.0,1,248.0,200.0,2003
26453,88925420600,234405,25658402,22021999,1,47,2003,2003,True,0.0,47.0,1,47.0,47.0,2003
24296,79451586172,301105,2448607,21092002,1,5,2003,2003,True,0.0,5.0,1,5.0,5.0,2003
14406,36602973568,214255,8402620,19081991,1,144,2003,2003,True,0.0,144.0,1,166.0,144.0,2003
23362,75456923653,142530,31969702,1072001,1,27,2003,2003,True,0.0,27.0,1,39.0,27.0,2003
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10373,22388742838,234405,57725681,23022015,2,46,2018,2016,False,22.0,24.0,1,24.0,24.0,2018
4209,04491693323,214240,6554380,1012017,2,23,2018,2018,True,0.0,23.0,1,23.0,23.0,2018
4228,04507340802,222110,46379400,27122011,7,84,2018,2018,True,0.0,84.0,1,84.0,84.0,2018
4247,04527574604,214205,5705083,25052015,4,43,2018,2018,True,0.0,43.0,1,43.0,43.0,2018
10141,21583900268,222110,5613654,13051986,10,391,2018,2018,True,0.0,391.0,1,391.0,391.0,2018

In [101]:
df_tenure_2.tenure.describe()

count    510.000000
mean     102.327451
std      120.598135
min        0.000000
25%       16.500000
50%       49.500000
75%      148.750000
max      826.000000
Name: tenure, dtype: float64

In [102]:
len(df_tenure_2.cpf.unique())

508

In [103]:
df_tenure_2.query("cpf == '36602973568'")

,cpf,cbo_2002,cnpj_raiz,data_adm,count,tenure_rais,Ano,first_year,first_job,previous_tenure,tenure_job,stem_job,tenure,max_tenure_job,max_year
14406,36602973568,214255,8402620,19081991,1,144,2003,2003,True,0.0,144.0,1,166.0,144.0,2003

In [104]:
df_tenure_2 = df_tenure_2.drop(columns = ['count', 'first_job', 'Ano', 'first_year','previous_tenure', 'tenure_job', 'max_tenure_job'])

# Juntar bases df_tenure_2 com df

In [105]:
df_tenure_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 510 entries, 18506 to 10141
Data columns (total 8 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   cpf          510 non-null    object
 1   cbo_2002     510 non-null    object
 2   cnpj_raiz    510 non-null    int64
 3   data_adm     510 non-null    int64
 4   tenure_rais  510 non-null    int32
 5   stem_job     510 non-null    int64
 6   tenure       510 non-null    float64
 7   max_year     510 non-null    int64
dtypes: float64(1), int32(1), int64(4), object(2)
memory usage: 33.9+ KB

In [106]:
#df_tenure_2.cpf = str(df_tenure_2.cpf)

In [107]:
#eleitos.cpf = str(eleitos.cpf)

In [108]:
df = eleitos.merge(df_tenure_2, how = "left", on = "cpf")

In [109]:
df["stem_job"].fillna(0, inplace=True)

In [110]:
df["tenure"].fillna(0, inplace = True)

In [111]:
df.tail().T

,13310,13311,13312,13313,13314
ano,2020,2020,2020,2020,2020
tipo_eleicao,eleicao ordinaria,eleicao ordinaria,eleicao ordinaria,eleicao ordinaria,eleicao ordinaria
sigla_uf,GO,GO,GO,GO,GO
id_municipio,5222203,5222203,5222302,5222302,5222302
id_municipio_tse,93289,93289,93505,93505,93505
id_candidato_bd,243606,1447379,667574,398995,785080
cpf,46970436187,14759330100,80065961153,58573658134,90095375104
titulo_eleitoral,32487671031,11497242062,28905971007,24445021090,24689481031
sequencial,90000976614,90001056573,90000860420,90000721220,90000719733
numero,25,22,15,25,12
nome,Rubens Francisco Lopes,Claudio Flavio Ornelas Araujo,Reginaldo Basilio De Oliveira,Waldilei Jose De Lemos,Waldeci Pereira De Morais Gomes
nome_urna,Rubens,Cláudio Ornelas,Professor Reginaldo,Waldilei Lemos,Waldeci Morais
numero_partido,25,22,15,25,12
sigla_partido,DEM,PL,MDB,DEM,PDT
cargo,prefeito,prefeito,prefeito,prefeito,prefeito
situacao,deferido,deferido,deferido,deferido,deferido
ocupacao,empresario,servidor publico estadual,professor de ensino medio,servidor publico municipal,agente administrativo
data_nascimento,1972-04-27,1961-02-01,1974-04-23,1972-02-25,1969-10-27
idade,48,60,46,49,51
genero,masculino,masculino,masculino,masculino,feminino
instrucao,ensino medio completo,ensino superior incompleto,ensino superior completo,ensino superior completo,ensino medio completo
estado_civil,divorciado(a),casado(a),casado(a),casado(a),casado(a)
nacionalidade,brasileira,brasileira,brasileira,brasileira,brasileira
sigla_uf_nascimento,GO,GO,GO,GO,GO
municipio_nascimento,Palmeiras De Goiás,Formosa,Anápolis,Pirenópolis,Pirenópolis
email,gilsonsaad@yahoocombr,claudioornelas1961@gmailcom,mdbvp@hotmailcom,macenacontabil@hotmailcom,leonardocalazan81@gmailcom
raca,parda,parda,parda,parda,branca
ano_1,2020,2020,2020,2020,2020
turno,1,1,1,1,1
tipo_eleicao_1,eleicao ordinaria,eleicao ordinaria,eleicao ordinaria,eleicao ordinaria,eleicao ordinaria
sigla_uf_1,GO,GO,GO,GO,GO
id_municipio_1,5222203,5222203,5222302,5222302,5222302
id_municipio_tse_1,93289,93289,93505,93505,93505
cargo_1,prefeito,prefeito,prefeito,prefeito,prefeito
sigla_partido_1,DEM,PL,MDB,DEM,PDT
numero_candidato,25,22,15,25,12
sequencial_candidato,90000976614,90001056573,90000860420,90000721220,90000719733
id_candidato_bd_1,243606,1447379,667574,398995,785080
resultado,eleito,nao eleito,nao eleito,eleito,nao eleito
votos,1452,496,1582,2255,529
decisao_primeiro_turno,1,1,1,1,1
total_votos,2948,2948,4366,4366,4366
%votos,0.492537,0.16825,0.362345,0.516491,0.121164
2_lugar,False,False,True,False,False
3_lugar,False,True,False,False,True
dif_votos_2_lugar,0.290366,0.290366,0.154146,0.154146,0.154146
dif_votos_3_lugar,0.324288,0.324288,0.395328,0.395328,0.395328
dif_votos,0.324288,0.324288,0.241182,0.241182,0.241182
cbo_2002,NaN,NaN,NaN,NaN,NaN
cnpj_raiz,NaN,NaN,NaN,NaN,NaN
data_adm,NaN,NaN,NaN,NaN,NaN
tenure_rais,NaN,NaN,NaN,NaN,NaN
stem_job,0.0,0.0,0.0,0.0,0.0
tenure,0.0,0.0,0.0,0.0,0.0
max_year,NaN,NaN,NaN,NaN,NaN

In [112]:
df.sort_values(by = "id_municipio")

,ano,tipo_eleicao,sigla_uf,id_municipio,id_municipio_tse,id_candidato_bd,cpf,titulo_eleitoral,sequencial,numero,...,dif_votos_2_lugar,dif_votos_3_lugar,dif_votos,cbo_2002,cnpj_raiz,data_adm,tenure_rais,stem_job,tenure,max_year
0,2020,eleicao ordinaria,RO,1100015,310,500468,66145201215,8912282399,220001187738,19,...,0.229421,0.518598,0.518598,222110,5888813.0,10022005.0,22.0,1.0,22.0,2006.0
1,2020,eleicao ordinaria,RO,1100015,310,1494057,16994140172,4122242305,220001055240,12,...,0.229421,0.518598,0.518598,NaN,NaN,NaN,NaN,0.0,0.0,NaN
2,2020,eleicao ordinaria,RO,1100015,310,285972,49891030920,6843012380,220000768332,13,...,0.229421,0.518598,0.518598,317110,394585.0,4112008.0,121.0,1.0,12.0,2018.0
3,2020,eleicao ordinaria,RO,1100031,450,29478,34061738291,5696402321,220000955267,11,...,0.290358,0.562534,0.272176,317110,394585.0,30032004.0,81.0,1.0,81.0,2010.0
4,2020,eleicao ordinaria,RO,1100031,450,110633,38549182249,5680032348,220001137117,51,...,0.290358,0.562534,0.272176,NaN,NaN,NaN,NaN,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13309,2020,eleicao ordinaria,GO,5222203,93289,1718212,28809530144,4249401023,90001027994,15,...,0.290366,0.324288,0.324288,NaN,NaN,NaN,NaN,0.0,0.0,NaN
13311,2020,eleicao ordinaria,GO,5222203,93289,1447379,14759330100,11497242062,90001056573,22,...,0.290366,0.324288,0.324288,NaN,NaN,NaN,NaN,0.0,0.0,NaN
13313,2020,eleicao ordinaria,GO,5222302,93505,398995,58573658134,24445021090,90000721220,25,...,0.154146,0.395328,0.241182,NaN,NaN,NaN,NaN,0.0,0.0,NaN
13312,2020,eleicao ordinaria,GO,5222302,93505,667574,80065961153,28905971007,90000860420,15,...,0.154146,0.395328,0.241182,NaN,NaN,NaN,NaN,0.0,0.0,NaN
13314,2020,eleicao ordinaria,GO,5222302,93505,785080,90095375104,24689481031,90000719733,12,...,0.154146,0.395328,0.241182,NaN,NaN,NaN,NaN,0.0,0.0,NaN

In [113]:
df.head(10).T

,0,1,2,3,4,5,6,7,8,9
ano,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020
tipo_eleicao,eleicao ordinaria,eleicao ordinaria,eleicao ordinaria,eleicao ordinaria,eleicao ordinaria,eleicao ordinaria,eleicao ordinaria,eleicao ordinaria,eleicao ordinaria,eleicao ordinaria
sigla_uf,RO,RO,RO,RO,RO,RO,RO,RO,RO,RO
id_municipio,1100015,1100015,1100015,1100031,1100031,1100031,1100049,1100049,1100049,1100056
id_municipio_tse,310,310,310,450,450,450,94,94,94,272
id_candidato_bd,500468,1494057,285972,29478,110633,225569,782088,1235541,119076,631087
cpf,66145201215,16994140172,49891030920,34061738291,38549182249,45751609204,89845277268,08082136871,39036073200,77209559272
titulo_eleitoral,8912282399,4122242305,6843012380,5696402321,5680032348,8183392321,13637562380,7945522330,6245192364,12159292380
sequencial,220001187738,220001055240,220000768332,220000955267,220001137117,220001193423,220001025502,220001268453,220001198451,220000750651
numero,19,12,13,11,51,45,55,25,90,15
nome,Giovan Damo,Valdoir Gomes Ferreira,Ademar Dias Guimarães,Izael Dias Moreira,Adilson De Almeida Fagundes,Rosely De Fátima De Assumpção Barroso,Adailton Antunes Ferreira,Marco Aurélio Blaz Vasques,Mario Angelino Moreira,Cleiton Rodrigo Da Costa Leite
nome_urna,Gio Damo,Vantuil Do Posto,Professor Ademar,Izael,Adilson Fagundes,Rosely Barroso,Adailton Furia,Vasques,Jabá Moreira,Cleiton Capanema
numero_partido,19,12,13,11,51,45,55,25,90,15
sigla_partido,PODE,PDT,PT,PP,PATRIOTA,PSDB,PSD,DEM,PROS,MDB
cargo,prefeito,prefeito,prefeito,prefeito,prefeito,prefeito,prefeito,prefeito,prefeito,prefeito
situacao,deferido,deferido,deferido,deferido,deferido,deferido,deferido,deferido,deferido,deferido
ocupacao,agronomo,agricultor,professor de ensino fundamental,professor de ensino fundamental,tecnico de enfermagem e assemelhados (exceto e...,agricultor,deputado,servidor publico municipal,vereador,comerciante
data_nascimento,1981-04-09,1959-02-04,1961-06-09,1970-12-30,1971-03-20,1970-11-09,1986-09-24,1967-02-02,1974-03-27,1982-12-07
idade,39,62,59,50,50,50,34,54,47,38
genero,masculino,masculino,masculino,masculino,masculino,feminino,masculino,masculino,masculino,masculino
instrucao,ensino superior completo,ensino fundamental incompleto,ensino superior completo,ensino superior completo,ensino medio completo,ensino medio incompleto,ensino superior completo,ensino superior completo,ensino medio completo,ensino superior completo
estado_civil,solteiro(a),solteiro(a),divorciado(a),solteiro(a),casado(a),casado(a),casado(a),casado(a),casado(a),casado(a)
nacionalidade,brasileira,brasileira,brasileira,brasileira,brasileira,brasileira,brasileira,brasileira,brasileira,brasileira
sigla_uf_nascimento,SC,GO,RS,MG,MG,PR,RO,SP,RO,PR
municipio_nascimento,Chapecó,Ceres,Tenente Portela,Mendes Pimentel,Mantena,Ampére,Cacoal,Monte Aprazível,Cacoal,Capanema
email,gioagro@hotmailcom,wendergospel@hotmailcom,ademardiasguimaraes2020@gmailcom,ccontabilize@hotmailcom,adilson--fagundes@hotmailcom,eleitoral@valverdechahairaadvbr,silvaresassessoria@gmailcom,marcoabvasques@hotmailcom,vereadorjabamoreira@gmailcom,mdbcerejeiras@hotmailcom
raca,branca,branca,branca,branca,branca,parda,parda,parda,parda,branca
ano_1,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020
turno,1,1,1,1,1,1,1,1,1,1
tipo_eleicao_1,eleicao ordinaria,eleicao ordinaria,eleicao ordinaria,eleicao ordinaria,eleicao ordinaria,eleicao ordinaria,eleicao ordinaria,eleicao ordinaria,eleicao ordinaria,eleicao ordinaria
sigla_uf_1,RO,RO,RO,RO,RO,RO,RO,RO,RO,RO
id_municipio_1,1100015,1100015,1100015,1100031,1100031,1100031,1100049,1100049,1100049,1100056
id_municipio_tse_1,310,310,310,450,450,450,94,94,94,272
cargo_1,prefeito,prefeito,prefeito,prefeito,prefeito,prefeito,prefeito,prefeito,prefeito,prefeito
sigla_partido_1,PODE,PDT,PT,PP,PATRIOTA,PSDB,PSD,DEM,PROS,MDB
numero_candidato,19,12,13,11,51,45,55,25,90,15
sequencial_candidato,220001187738,220001055240,220000768332,220000955267,220001137117,220001193423,220001025502,220001268453,220001198451,220000750651
id_candidato_bd_1,500468,1494057,285972,29478,110633,225569,782088,1235541,119076,631087
resultado,eleito,nao eleito,nao eleito,eleito,nao eleito,nao eleito,eleito,nao eleito,nao eleito,nao eleito
votos,7536,4526,732,2242,200,1188,25791,12692,3220,2177
decisao_primeiro_turno,1,1,1,1,1,1,1,1,1,1
total_votos,13120,13120,13120,3630,3630,3630,42251,42251,42251,8926
%votos,0.57439,0.34497,0.055793,0.617631,0.055096,0.327273,0.610423,0.300395,0.076211,0.243894
2_lugar,False,True,False,False,False,True,False,True,False,False
3_lugar,False,False,True,False,True,False,False,False,True,True
dif_votos_2_lugar,0.229421,0.229421,0.229421,0.290358,0.290358,0.290358,0.310028,0.310028,0.310028,0.08212
dif_votos_3_lugar,0.518598,0.518598,0.518598,0.562534,0.562534,0.562534,0.534212,0.534212,0.534212,0.175218
dif_votos,0.518598,0.518598,0.518598,0.272176,0.272176,0.272176,0.310028,0.310028,0.310028,0.093099
cbo_2002,222110,NaN,317110,317110,NaN,NaN,NaN,317110,NaN,NaN
cnpj_raiz,5888813.0,NaN,394585.0,394585.0,NaN,NaN,NaN,394585.0,NaN,NaN
data_adm,10022005.0,NaN,4112008.0,30032004.0,NaN,NaN,NaN,22031990.0,NaN,NaN
tenure_rais,22.0,NaN,121.0,81.0,NaN,NaN,NaN,249.0,NaN,NaN
stem_job,1.0,0.0,1.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0
tenure,22.0,0.0,12.0,81.0,0.0,0.0,0.0,254.0,0.0,0.0
max_year,2006.0,NaN,2018.0,2010.0,NaN,NaN,NaN,2010.0,NaN,NaN

In [114]:
df.tail(10)

,ano,tipo_eleicao,sigla_uf,id_municipio,id_municipio_tse,id_candidato_bd,cpf,titulo_eleitoral,sequencial,numero,...,dif_votos_2_lugar,dif_votos_3_lugar,dif_votos,cbo_2002,cnpj_raiz,data_adm,tenure_rais,stem_job,tenure,max_year
13305,2020,eleicao ordinaria,GO,5222005,96415,1663405,26287765100,12578141023,90000763854,17,...,0.213590,0.391332,0.177742,NaN,NaN,NaN,NaN,0.0,0.0,NaN
13306,2020,eleicao ordinaria,GO,5222005,96415,841057,95093575100,41639871015,90000765460,11,...,0.213590,0.391332,0.177742,NaN,NaN,NaN,NaN,0.0,0.0,NaN
13307,2020,eleicao ordinaria,GO,5222054,96571,1049337,04609564181,63718101031,90001094891,17,...,0.034619,NaN,0.034619,NaN,NaN,NaN,NaN,0.0,0.0,NaN
13308,2020,eleicao ordinaria,GO,5222054,96571,49913,35123842187,10731541074,90000779505,45,...,0.034619,NaN,0.034619,NaN,NaN,NaN,NaN,0.0,0.0,NaN
13309,2020,eleicao ordinaria,GO,5222203,93289,1718212,28809530144,4249401023,90001027994,15,...,0.290366,0.324288,0.324288,NaN,NaN,NaN,NaN,0.0,0.0,NaN
13310,2020,eleicao ordinaria,GO,5222203,93289,243606,46970436187,32487671031,90000976614,25,...,0.290366,0.324288,0.324288,NaN,NaN,NaN,NaN,0.0,0.0,NaN
13311,2020,eleicao ordinaria,GO,5222203,93289,1447379,14759330100,11497242062,90001056573,22,...,0.290366,0.324288,0.324288,NaN,NaN,NaN,NaN,0.0,0.0,NaN
13312,2020,eleicao ordinaria,GO,5222302,93505,667574,80065961153,28905971007,90000860420,15,...,0.154146,0.395328,0.241182,NaN,NaN,NaN,NaN,0.0,0.0,NaN
13313,2020,eleicao ordinaria,GO,5222302,93505,398995,58573658134,24445021090,90000721220,25,...,0.154146,0.395328,0.241182,NaN,NaN,NaN,NaN,0.0,0.0,NaN
13314,2020,eleicao ordinaria,GO,5222302,93505,785080,90095375104,24689481031,90000719733,12,...,0.154146,0.395328,0.241182,NaN,NaN,NaN,NaN,0.0,0.0,NaN

In [115]:
(df[df["%votos"] == df["%votos"].max()])

,ano,tipo_eleicao,sigla_uf,id_municipio,id_municipio_tse,id_candidato_bd,cpf,titulo_eleitoral,sequencial,numero,...,dif_votos_2_lugar,dif_votos_3_lugar,dif_votos,cbo_2002,cnpj_raiz,data_adm,tenure_rais,stem_job,tenure,max_year
39,2020,eleicao ordinaria,RO,1100189,116,215010,45072884104,24848512747,220000773053,51,...,0.0,NaN,0.0,317110,394585.0,4052005.0,163.0,1.0,12.0,2018.0
201,2020,eleicao ordinaria,AM,1300102,2038,411240,59463031200,15131852283,40000640317,10,...,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN
457,2020,eleicao ordinaria,PA,1501758,5932,608319,75206242268,38082201392,140000855685,12,...,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN
605,2020,eleicao ordinaria,PA,1505494,4162,226790,45830649268,26243541376,140001105611,45,...,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN
706,2020,eleicao ordinaria,PA,1507979,4367,139413,40267415249,21103031384,140001068288,55,...,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
12888,2020,eleicao ordinaria,GO,5206909,93394,833107,02482122147,54542111015,90000661255,19,...,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN
13029,2020,eleicao ordinaria,GO,5212600,94471,882669,98812670130,40738881040,90000766950,11,...,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN
13086,2020,eleicao ordinaria,GO,5214705,94919,688769,81734786191,34160361015,90000743435,17,...,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN
13133,2020,eleicao ordinaria,GO,5216007,95176,714810,83802606191,36664051074,90001108813,22,...,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN
13197,2020,eleicao ordinaria,GO,5219100,95770,1784257,32066961191,13116581040,90000915394,12,...,0.0,NaN,0.0,NaN,NaN,NaN,NaN,0.0,0.0,NaN

In [116]:
teste = pd.DataFrame(df.groupby(["id_municipio_tse"]).stem_job.sum())

In [117]:
teste.rename(columns = {"stem_job": "rdd"}, inplace = True)

In [118]:
df = df.merge(teste, how = "inner", on = "id_municipio_tse")

In [119]:
df.query("rdd == 1").shape

(1241, 56)

In [120]:
df.query("resultado == 'eleito' & rdd == 1 & stem_job == 1").shape

(198, 56)

In [121]:
df["rdd_stem_won"] = df.cpf.apply(lambda x: 1 if x in df.query("resultado == 'eleito' & rdd == 1 & stem_job == 1").cpf.unique() else 0)

In [122]:
len(df[df["rdd_stem_won"] == 1])

198

In [123]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13315 entries, 0 to 13314
Data columns (total 57 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ano                     13315 non-null  int64
 1   tipo_eleicao            13315 non-null  object
 2   sigla_uf                13315 non-null  object
 3   id_municipio            13315 non-null  object
 4   id_municipio_tse        13315 non-null  object
 5   id_candidato_bd         13315 non-null  object
 6   cpf                     13315 non-null  object
 7   titulo_eleitoral        13315 non-null  int64
 8   sequencial              13315 non-null  int64
 9   numero                  13315 non-null  int64
 10  nome                    13315 non-null  object
 11  nome_urna               13315 non-null  object
 12  numero_partido          13315 non-null  int64
 13  sigla_partido           13315 non-null  object
 14  cargo                   13315 non-null  object
 15  situacao                13315 non-null  object
 16  ocupacao                13315 non-null  object
 17  data_nascimento         13315 non-null  object
 18  idade                   13315 non-null  int64
 19  genero                  13315 non-null  object
 20  instrucao               13315 non-null  object
 21  estado_civil            13315 non-null  object
 22  nacionalidade           13315 non-null  object
 23  sigla_uf_nascimento     13315 non-null  object
 24  municipio_nascimento    13315 non-null  object
 25  email                   13315 non-null  object
 26  raca                    13247 non-null  object
 27  ano_1                   13315 non-null  int64
 28  turno                   13315 non-null  int64
 29  tipo_eleicao_1          13315 non-null  object
 30  sigla_uf_1              13315 non-null  object
 31  id_municipio_1          13315 non-null  int64
 32  id_municipio_tse_1      13315 non-null  int64
 33  cargo_1                 13315 non-null  object
 34  sigla_partido_1         13315 non-null  object
 35  numero_candidato        13315 non-null  int64
 36  sequencial_candidato    13315 non-null  int64
 37  id_candidato_bd_1       13315 non-null  int64
 38  resultado               13315 non-null  object
 39  votos                   13315 non-null  int64
 40  decisao_primeiro_turno  13315 non-null  int64
 41  total_votos             13315 non-null  int64
 42  %votos                  13315 non-null  float64
 43  2_lugar                 13315 non-null  bool
 44  3_lugar                 13315 non-null  bool
 45  dif_votos_2_lugar       13315 non-null  float64
 46  dif_votos_3_lugar       8960 non-null   float64
 47  dif_votos               13315 non-null  float64
 48  cbo_2002                510 non-null    object
 49  cnpj_raiz               510 non-null    float64
 50  data_adm                510 non-null    float64
 51  tenure_rais             510 non-null    float64
 52  stem_job                13315 non-null  float64
 53  tenure                  13315 non-null  float64
 54  max_year                510 non-null    float64
 55  rdd                     13315 non-null  float64
 56  rdd_stem_won            13315 non-null  int64
dtypes: bool(2), float64(11), int64(17), object(27)
memory usage: 5.7+ MB

In [124]:
#df.to_csv('Dados/Output/220531_base_rdd_covid_stem.csv', sep = ";", index = False, encoding = "utf-8-sig")

# Pegando casos de COVID

In [125]:
df_obitos = pd.read_csv("Dados/input/caso.csv")

fonte: https://brasil.io/dataset/covid19/caso/?search=&date=2022-01-01&state=&city=&place_type=city&is_last=&city_ibge_code=&order_for_place=

In [126]:
df_obitos = df_obitos.query("place_type == 'city'")

In [127]:
df_obitos.head()

,date,state,city,place_type,confirmed,deaths,order_for_place,is_last,estimated_population_2019,estimated_population,city_ibge_code,confirmed_per_100k_inhabitants,death_rate
734,2021-12-14,AP,Amapá,city,1424,13,586,True,9109.0,9187.0,1600105.0,15500.16327,0.0091
735,2021-12-13,AP,Amapá,city,1424,13,585,False,9109.0,9187.0,1600105.0,15500.16327,0.0091
736,2021-12-12,AP,Amapá,city,1424,13,584,False,9109.0,9187.0,1600105.0,15500.16327,0.0091
737,2021-12-11,AP,Amapá,city,1424,13,583,False,9109.0,9187.0,1600105.0,15500.16327,0.0091
738,2021-12-10,AP,Amapá,city,1424,13,582,False,9109.0,9187.0,1600105.0,15500.16327,0.0091

In [128]:
df_obitos_2020 = df_obitos[(df_obitos["date"] >= "2020-12-28") & (df_obitos["date"] <= "2020-12-31")]

In [129]:
len(df_obitos_2020)

21209

In [130]:
df_obitos_2020['mais_recente'] = df_obitos_2020.groupby(['city'])['date'].transform(max)

C:\Users\GabrielCaserDosPasso\AppData\Local\Temp\ipykernel_136772\966712031.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_obitos_2020['mais_recente'] = df_obitos_2020.groupby(['city'])['date'].transform(max)

In [131]:
df_obitos_2020

,date,state,city,place_type,confirmed,deaths,order_for_place,is_last,estimated_population_2019,estimated_population,city_ibge_code,confirmed_per_100k_inhabitants,death_rate,mais_recente
1081,2020-12-31,AP,Amapá,city,985,6,239,False,9109.0,9187.0,1600105.0,10721.67193,0.0061,2020-12-31
1082,2020-12-30,AP,Amapá,city,970,6,238,False,9109.0,9187.0,1600105.0,10558.39774,0.0062,2020-12-31
1083,2020-12-29,AP,Amapá,city,956,6,237,False,9109.0,9187.0,1600105.0,10406.00849,0.0063,2020-12-31
1084,2020-12-28,AP,Amapá,city,956,6,236,False,9109.0,9187.0,1600105.0,10406.00849,0.0063,2020-12-31
1667,2020-12-31,AP,Calçoene,city,1450,7,234,False,11117.0,11306.0,1600204.0,12825.04865,0.0048,2020-12-31
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2837328,2020-12-29,SP,Álvaro de Carvalho,city,42,4,223,False,5227.0,5274.0,3501400.0,796.35950,0.0952,2020-12-31
2837329,2020-12-28,SP,Álvaro de Carvalho,city,42,4,222,False,5227.0,5274.0,3501400.0,796.35950,0.0952,2020-12-31
2837821,2020-12-31,SP,Óleo,city,6,0,182,False,2496.0,2471.0,3533809.0,242.81667,0.0000,2020-12-31
2837822,2020-12-29,SP,Óleo,city,6,0,181,False,2496.0,2471.0,3533809.0,242.81667,0.0000,2020-12-31
2837823,2020-12-28,SP,Óleo,city,6,0,180,False,2496.0,2471.0,3533809.0,242.81667,0.0000,2020-12-31

In [132]:
df_obitos_2020['mais_recente'] = (df_obitos_2020["date"] == df_obitos_2020["mais_recente"])

C:\Users\GabrielCaserDosPasso\AppData\Local\Temp\ipykernel_136772\2149444726.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_obitos_2020['mais_recente'] = (df_obitos_2020["date"] == df_obitos_2020["mais_recente"])

In [133]:
len(df_obitos_2020[df_obitos_2020['mais_recente'] == 1])

5589

In [134]:
df_obitos_2020 = df_obitos_2020[df_obitos_2020['mais_recente'] == 1]

In [135]:
df_obitos_2020 = df_obitos_2020[['confirmed_per_100k_inhabitants','city_ibge_code']]

In [136]:
df_obitos_2020 = df_obitos_2020.rename(columns = {"confirmed_per_100k_inhabitants": "confirmed_per_100k_inhabitants_2020"})

In [137]:
df_obitos = df_obitos[(df_obitos["date"] >= "2021-06-19") & (df_obitos["date"] <= "2021-07-01")]

In [138]:
df_obitos['mais_recente'] = df_obitos.groupby(['city'])['date'].transform(max)

C:\Users\GabrielCaserDosPasso\AppData\Local\Temp\ipykernel_136772\2446720609.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_obitos['mais_recente'] = df_obitos.groupby(['city'])['date'].transform(max)

In [139]:
df_obitos['mais_recente'] = (df_obitos["date"] == df_obitos["mais_recente"])

C:\Users\GabrielCaserDosPasso\AppData\Local\Temp\ipykernel_136772\259542142.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_obitos['mais_recente'] = (df_obitos["date"] == df_obitos["mais_recente"])

In [140]:
len(df_obitos[df_obitos['mais_recente'] == 1])

5503

In [141]:
df_obitos = df_obitos[df_obitos['mais_recente'] == 1]

In [142]:
df_obitos.date.unique()

array(['2021-07-01', '2021-06-19', '2021-06-30'], dtype=object)

In [143]:
len(df_obitos.city_ibge_code.unique())

5487

In [144]:
df_obitos = df_obitos.merge(df_obitos_2020, on='city_ibge_code', how='left')

In [145]:
df_obitos['confirmed_per_100k_inhabitants'] = df_obitos['confirmed_per_100k_inhabitants'] - df_obitos['confirmed_per_100k_inhabitants_2020']

In [146]:
df_obitos.sort_values(by = 'city_ibge_code')

,date,state,city,place_type,confirmed,deaths,order_for_place,is_last,estimated_population_2019,estimated_population,city_ibge_code,confirmed_per_100k_inhabitants,death_rate,mais_recente,confirmed_per_100k_inhabitants_2020
3676,2021-07-01,RO,Alta Floresta D'Oeste,city,3897,65,395,False,22945.0,22728.0,1100015.0,11479.23266,0.0167,True,5667.01866
3680,2021-07-01,RO,Ariquemes,city,21684,464,415,False,107863.0,109523.0,1100023.0,12612.87583,0.0214,True,7185.70529
3682,2021-07-01,RO,Cabixi,city,825,20,395,False,5312.0,5188.0,1100031.0,12297.60987,0.0242,True,3604.47186
3684,2021-07-01,RO,Cacoal,city,13534,279,397,False,85359.0,85893.0,1100049.0,11047.46603,0.0206,True,4709.34768
3688,2021-07-01,RO,Cerejeiras,city,2428,60,376,False,16323.0,16204.0,1100056.0,13002.96223,0.0247,True,1980.99235
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5389,2021-07-01,SP,Importados/Indefinidos,city,931,0,447,False,NaN,NaN,NaN,NaN,0.0000,True,NaN
5390,2021-07-01,SP,Importados/Indefinidos,city,931,0,447,False,NaN,NaN,NaN,NaN,0.0000,True,NaN
5391,2021-07-01,SP,Importados/Indefinidos,city,931,0,447,False,NaN,NaN,NaN,NaN,0.0000,True,NaN
5392,2021-07-01,SP,Importados/Indefinidos,city,931,0,447,False,NaN,NaN,NaN,NaN,0.0000,True,NaN
5393,2021-07-01,SP,Importados/Indefinidos,city,931,0,447,False,NaN,NaN,NaN,NaN,0.0000,True,NaN

In [147]:
df_obitos = df_obitos.query("city != 'Importados/Indefinidos'")

In [148]:
len(df_obitos.city_ibge_code.unique())

5486

In [149]:
df_obitos.rename(columns = {"city_ibge_code": "id_municipio"}, inplace = True)

In [150]:
#df_obitos.to_csv('Dados/output/220809_confirmed_cases_2021.csv', sep = ";", index = False, encoding = "utf-8-sig")

# Mesclando as bases

In [151]:
#df = pd.read_csv("RAIS/Dados/Output/220531_base_rdd_covid_stem.csv", sep = ";")

In [152]:
df["id_municipio"] = df["id_municipio"].astype(float)

In [153]:
df = df.merge(df_obitos, how = "left", on = "id_municipio")

In [154]:
df.head().T

,0,1,2,3,4
ano,2020,2020,2020,2020,2020
tipo_eleicao,eleicao ordinaria,eleicao ordinaria,eleicao ordinaria,eleicao ordinaria,eleicao ordinaria
sigla_uf,RO,RO,RO,RO,RO
id_municipio,1100015.0,1100015.0,1100015.0,1100031.0,1100031.0
id_municipio_tse,310,310,310,450,450
...,...,...,...,...,...
estimated_population,22728.0,22728.0,22728.0,5188.0,5188.0
confirmed_per_100k_inhabitants,11479.23266,11479.23266,11479.23266,12297.60987,12297.60987
death_rate,0.0167,0.0167,0.0167,0.0242,0.0242
mais_recente,True,True,True,True,True
confirmed_per_100k_inhabitants_2020,5667.01866,5667.01866,5667.01866,3604.47186,3604.47186

In [155]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 13315 entries, 0 to 13314
Data columns (total 71 columns):
 #   Column                               Non-Null Count  Dtype
---  ------                               --------------  -----
 0   ano                                  13315 non-null  int64
 1   tipo_eleicao                         13315 non-null  object
 2   sigla_uf                             13315 non-null  object
 3   id_municipio                         13315 non-null  float64
 4   id_municipio_tse                     13315 non-null  object
 5   id_candidato_bd                      13315 non-null  object
 6   cpf                                  13315 non-null  object
 7   titulo_eleitoral                     13315 non-null  int64
 8   sequencial                           13315 non-null  int64
 9   numero                               13315 non-null  int64
 10  nome                                 13315 non-null  object
 11  nome_urna                            13315 non-null  object
 12  numero_partido                       13315 non-null  int64
 13  sigla_partido                        13315 non-null  object
 14  cargo                                13315 non-null  object
 15  situacao                             13315 non-null  object
 16  ocupacao                             13315 non-null  object
 17  data_nascimento                      13315 non-null  object
 18  idade                                13315 non-null  int64
 19  genero                               13315 non-null  object
 20  instrucao                            13315 non-null  object
 21  estado_civil                         13315 non-null  object
 22  nacionalidade                        13315 non-null  object
 23  sigla_uf_nascimento                  13315 non-null  object
 24  municipio_nascimento                 13315 non-null  object
 25  email                                13315 non-null  object
 26  raca                                 13247 non-null  object
 27  ano_1                                13315 non-null  int64
 28  turno                                13315 non-null  int64
 29  tipo_eleicao_1                       13315 non-null  object
 30  sigla_uf_1                           13315 non-null  object
 31  id_municipio_1                       13315 non-null  int64
 32  id_municipio_tse_1                   13315 non-null  int64
 33  cargo_1                              13315 non-null  object
 34  sigla_partido_1                      13315 non-null  object
 35  numero_candidato                     13315 non-null  int64
 36  sequencial_candidato                 13315 non-null  int64
 37  id_candidato_bd_1                    13315 non-null  int64
 38  resultado                            13315 non-null  object
 39  votos                                13315 non-null  int64
 40  decisao_primeiro_turno               13315 non-null  int64
 41  total_votos                          13315 non-null  int64
 42  %votos                               13315 non-null  float64
 43  2_lugar                              13315 non-null  bool
 44  3_lugar                              13315 non-null  bool
 45  dif_votos_2_lugar                    13315 non-null  float64
 46  dif_votos_3_lugar                    8960 non-null   float64
 47  dif_votos                            13315 non-null  float64
 48  cbo_2002                             510 non-null    object
 49  cnpj_raiz                            510 non-null    float64
 50  data_adm                             510 non-null    float64
 51  tenure_rais                          510 non-null    float64
 52  stem_job                             13315 non-null  float64
 53  tenure                               13315 non-null  float64
 54  max_year                             510 non-null    float64
 55  rdd                                  13315 non-null  float64
 56  rdd_stem_won                         13315 non-null  int64
 57  date                                 13116 non-null  object
 58  state                                13116 non-null  object
 59  city                                 13116 non-null  object
 60  place_type                           13116 non-null  object
 61  confirmed                            13116 non-null  float64
 62  deaths                               13116 non-null  float64
 63  order_for_place                      13116 non-null  float64
 64  is_last                              13116 non-null  object
 65  estimated_population_2019            13116 non-null  float64
 66  estimated_population                 13116 non-null  float64
 67  confirmed_per_100k_inhabitants       13116 non-null  float64
 68  death_rate                           13116 non-null  float64
 69  mais_recente                         13116 non-null  object
 70  confirmed_per_100k_inhabitants_2020  13116 non-null  float64
dtypes: bool(2), float64(20), int64(17), object(32)
memory usage: 7.1+ MB

# Salvando

In [156]:
df.to_csv('Dados/output/230104_base_rdd_covid_stem_2020.csv', sep = ";", index = False, encoding = "utf-8-sig")

# Testando

In [157]:
df.query("stem_job == 1").T.head(60)

,0,2,3,7,10,14,20,21,24,30,...,12736,12753,12791,12833,12910,13095,13129,13143,13187,13273
ano,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,...,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020
tipo_eleicao,eleicao ordinaria,eleicao ordinaria,eleicao ordinaria,eleicao ordinaria,eleicao ordinaria,eleicao ordinaria,eleicao ordinaria,eleicao ordinaria,eleicao ordinaria,eleicao ordinaria,...,eleicao ordinaria,eleicao ordinaria,eleicao ordinaria,eleicao ordinaria,eleicao ordinaria,eleicao ordinaria,eleicao ordinaria,eleicao ordinaria,eleicao ordinaria,eleicao ordinaria
sigla_uf,RO,RO,RO,RO,RO,RO,RO,RO,RO,RO,...,GO,GO,GO,GO,GO,GO,GO,GO,GO,GO
id_municipio,1100015.0,1100015.0,1100031.0,1100049.0,1100056.0,1100064.0,1100098.0,1100098.0,1100106.0,1100122.0,...,5201207.0,5201801.0,5203906.0,5204904.0,5207907.0,5214879.0,5215801.0,5216809.0,5218789.0,5221197.0
id_municipio_tse,310,310,450,94,272,230,256,256,19,51,...,92231,92355,92770,92975,93599,93084,95133,95311,92827,93220
id_candidato_bd,500468,285972,29478,1235541,321867,1775293,152008,998799,1336851,573671,...,730216,362241,460713,1597316,19859,99410,1674267,891749,780203,1783936
cpf,66145201215,49891030920,34061738291,08082136871,52617831000,31588859215,41064690572,03878602820,10658785249,72214902287,...,85177474100,00179262114,62989979620,01064606172,01375401165,01500812196,26828448120,99747820153,89695429149,32050666187
titulo_eleitoral,8912282399,6843012380,5696402321,7945522330,4714202321,5701512313,6741832356,3433892372,26092330,11554172372,...,25651891074,47666521082,95923490272,29382351015,47485241082,50864941074,11708611015,44671431015,35424991007,21278121015
sequencial,220001187738,220000768332,220000955267,220001268453,220001005073,220001010804,220000744274,220001252132,220000751294,220001241045,...,90000663864,90000941714,90000863092,90000942932,90000832701,90000798266,90001010782,90001116808,90000761530,90000802242
numero,19,13,11,25,43,43,19,25,51,10,...,15,15,28,12,25,25,11,17,77,11
nome,Giovan Damo,Ademar Dias Guimarães,Izael Dias Moreira,Marco Aurélio Blaz Vasques,Lisete Marth,Edmilson Rodrigues De Almeida,Weliton Pereira Campos,Jose Sampaio Leite,Joao Soares Rodrigues,Jhony Pedro Da Paixão,...,Marcelo Martins De Paiva,Leo Antonio De Almeida,Félix Aparecido Alves,Aurolino Jose Dos Santos Ninha,Altran Lopes Avelar Nery,Valcilei Antonio Vicente,Eladir De Paula Ribeiro,Tiago Pacheco De Jesus,Ana Paula Lima De Oliveira,Ricardo Yano
nome_urna,Gio Damo,Professor Ademar,Izael,Vasques,Lisete Marth,Edinho Da Radio,Professor Weliton,Espeto,Joao Soares,Jhony Paixão,...,Marcelo Paiva,Dr Leo,Félix,Ninha,Altran Avelar,Valcilei,Didi,Tiago Contador,Ana Paula,Ricardo Yano
numero_partido,19,13,11,25,43,43,19,25,51,10,...,15,15,28,12,25,25,11,17,77,11
sigla_partido,PODE,PT,PP,DEM,PV,PV,PODE,DEM,PATRIOTA,REPUBLICANOS,...,MDB,MDB,PRTB,PDT,DEM,DEM,PP,PSL,SOLIDARIEDADE,PP
cargo,prefeito,prefeito,prefeito,prefeito,prefeito,prefeito,prefeito,prefeito,prefeito,prefeito,...,prefeito,prefeito,prefeito,prefeito,prefeito,prefeito,prefeito,prefeito,prefeito,prefeito
situacao,deferido,deferido,deferido,deferido,deferido,deferido,deferido,deferido,deferido,deferido,...,deferido,deferido,deferido,deferido,deferido,deferido,deferido,deferido,deferido,deferido
ocupacao,agronomo,professor de ensino fundamental,professor de ensino fundamental,servidor publico municipal,prefeito,locutor e comentarista de radio e televisao e ...,servidor publico municipal,servidor publico federal,advogado,deputado,...,engenheiro,medico,professor de ensino superior,engenheiro,engenheiro,servidor publico municipal,prefeito,contador,jornalista e redator,engenheiro
data_nascimento,1981-04-09,1961-06-09,1970-12-30,1967-02-02,1963-11-09,1969-11-24,1966-01-28,1962-05-03,1960-06-08,1982-05-26,...,1973-09-05,1984-08-15,1970-07-29,1942-08-29,1985-10-26,1985-01-18,1961-05-29,1984-07-28,1977-10-19,1964-11-07
idade,39,59,50,54,57,51,55,58,60,38,...,47,36,50,78,35,36,59,36,43,56
genero,masculino,masculino,masculino,masculino,feminino,masculino,masculino,masculino,masculino,masculino,...,masculino,masculino,masculino,masculino,masculino,masculino,masculino,masculino,feminino,masculino
instrucao,ensino superior completo,ensino superior completo,ensino superior completo,ensino superior completo,ensino superior completo,ensino superior completo,ensino superior completo,ensino medio completo,ensino superior completo,ensino superior completo,...,ensino superior completo,ensino superior completo,ensino superior completo,ensino superior completo,ensino superior completo,ensino medio completo,ensino medio completo,ensino superior completo,ensino superior completo,ensino superior completo
estado_civil,solteiro(a),divorciado(a),solteiro(a),casado(a),divorciado(a),casado(a),casado(a),casado(a),casado(a),solteiro(a),...,divorciado(a),casado(a),casado(a),casado(a),solteiro(a),casado(a),solteiro(a),casado(a),casado(a),casado(a)
nacionalidade,brasileira,brasileira,brasileira,brasileira,brasileira,brasileira,brasileira,brasileira,brasileira,brasileira,...,brasileira,brasileira,brasileira,brasileira,brasileira,brasileira,brasileira,brasileira,brasileira,brasileira
sigla_uf_nascimento,SC,RS,MG,SP,PR,MG,BA,CE,AM,RO,...,MG,GO,GO,GO,GO,GO,GO,GO,GO,GO
municipio_nascimento,Chapecó,Tenente Portela,Mendes Pimentel,Monte Aprazível,Capanema,Governador Valadares,Tabocas Do Brejo Velho,Abaiara,Manaus,Pimenta Bueno,...,Araguari,Anápolis,Buriti Alegre,Campos Belos,Goiânia,Uruaçu,Palmelo,Anápolis,Rubiataba,Goiânia
email,gioagro@hotmailcom,ademardiasguimaraes2020@gmailcom,ccontabilize@hotmailcom,marcoabvasques@hotmailcom,lisetemarth1@hotmailcom,edinhofmalmeida@gmailcom,wpcampos01@hotmailcom,espetoesp@hotmailcom,joao0806@hotmailcom,prbjipa@gmailcom,...,abadiapereiradidica@gmailcom,carlosottavio9@hotmailcom,politicaburiti@gmailcom,elidams@bolcombr,eleicoes2020demfg@gmailcom,macenacontabil@hotmailcom,pppalmelo2020@gmailcom,tiagopacheco@contadorconsultorcom,poramorarioquente@gmailcom,campanhaterezopolisyano@gmailcom
raca,branca,branca,branca,parda,branca,branca,parda,parda,parda,parda,...,parda,parda,parda,parda,parda,parda,branca,parda,branca,parda
ano_1,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020,...,2020,2020,2020,2020,2020,2020,2020,2020,2020,2020
turno,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
tipo_eleicao_1,eleicao ordinaria,eleicao ordinaria,eleicao ordinaria,eleicao ordinaria,eleicao ordinaria,eleicao ordinaria,eleicao ordinaria,eleicao ordinaria,eleicao ordinaria,eleicao ordinaria,...,eleicao ordinaria,eleicao ordinaria,eleicao ordinaria,eleicao ordinaria,eleicao ordinaria,eleicao ordinaria,eleicao ordinaria,eleicao ordinaria,eleicao ordinaria,eleicao ordinaria
sigla_uf_1,RO,RO,RO,RO,RO,RO,RO,RO,RO,RO,...,GO,GO,GO,GO,GO,GO,GO,GO,GO,GO
id_municipio_1,1100015,1100015,1100031,1100049,1100056,1100064,1100098,1100098,1100106,1100122,...,5201207,5201801,5203906,5204904,5207907,5214879,5215801,5216809,5218789,5221197
id_municipio_tse_1,310,310,450,94,272,230,256,256,19,51,...,92231,92355,92770,92975,93599,93084,95133,95311,92827,93220
cargo_1,prefeito,prefeito,prefeito,prefeito,prefeito,prefeito,prefeito,prefeito,prefeito,prefeito,...,prefeito,prefeito,prefeito,prefeito,prefeito,prefeito,prefeito,prefeito,prefeito,prefeito
sigla_partido_1,PODE,PT,PP,DEM,PV,PV,PODE,DEM,PATRIOTA,REPUBLICANOS,...,MDB,MDB,PRTB,PDT,DEM,DEM,PP,PSL,SOLIDARIEDADE,PP
numero_candidato,19,13,11,25,43,43,19,25,51,10,...,15,15,28,12,25,25,11,17,77,11
sequencial_candidato,220001187738,220000768332,220000955267,220001268453,220001005073,220001010804,220000744274,220001252132,220000751294,220001241045,...,90000663864,90000941714,90000863092,90000942932,90000832701,90000798266,90001010782,90001116808,90000761530,90000802242
id_candidato_bd_1,500468,285972,29478,1235541,321867,1775293,152008,998799,1336851,573671,...,730216,362241,460713,1597316,19859,99410,1674267,891749,780203,1783936
resultado,eleito,nao eleito,eleito,nao eleito,eleito,nao eleito,eleito,nao eleito,nao eleito,nao eleito,...,eleito,nao eleito,nao eleito,nao eleito,eleito,nao eleito,nao eleito,eleito,eleito,nao eleito
votos,7536,732,2242,12692,3741,2239,7829,2089,4284,11301,...,621,1145,788,2586,2078,210,914,3288,1099,2203
decisao_primeiro_turno,1,1,1,1,1,1,1,1,1,1,...,1,1,1,1,1,1,1,1,1,1
total_votos,13120,13120,3630,42251,8926,6920,11592,11592,18988,56946,...,1046,6640,6059,10455,5299,2506,1890,5736,2521,5195
%votos,0.57439,0.055793,0.617631,0.300395,0.419113,0.323555,0.67538,0.18021,0.225616,0.198451,...,0.59369,0.17244,0.130054,0.247346,0.392149,0.083799,0.483598,0.573222,0.435938,0.424062
2_lugar,False,False,False,True,False,True,False,True,True,True,...,False,False,False,False,False,False,True,False,False,True
3_lugar,False,True,False,False,False,False,False,False,False,False,...,False,True,True,True,False,True,False,False,False,False
dif_votos_2_lugar,0.229421,0.229421,0.290358,0.310028,0.08212,0.239306,0.495169,0.495169,0.015325,0.077231,...,0.18738,0.059789,0.247236,0.081014,0.005473,0.083799,0.032804,0.146444,0.13804,0.14591
dif_votos_3_lugar,0.518598,0.518598,0.562534,0.534212,0.175218,0.449277,0.53097,0.53097,0.058563,0.09207,...,NaN,0.175904,0.404852,0.143568,0.170976,0.416201,NaN,NaN,0.169774,0.564004
dif_votos,0.518598,0.518598,0.272176,0.310028,0.093099,0.449277,0.53097,0.53097,0.043238,0.09207,...,0.18738,0.116114,0.247236,0.081014,0.170976,0.083799,0.032804,0.146444,0.169774,0.564004
cbo_2002,222110,317110,317110,317110,317110,317110,317110,317110,317110,317110,...,214205,221105,142510,214205,312305,318510,312210,141305,212410,214205
cnpj_raiz,5888813.0,394585.0,394585.0,394585.0,394585.0,394585.0,394585.0,3092697.0,394585.0,394585.0,...,3967501.0,11809185.0,23814940.0,1126143.0,8377982.0,33331661.0,1616929.0,5859757.0,24852675.0,1540350.0
data_adm,10022005.0,4112008.0,30032004.0,22031990.0,14121987.0,1052017.0,19042005.0,1021984.0,1102009.0,24062002.0,...,1032012.0,6062013.0,16022000.0,1012009.0,16112011.0,1082007.0,2071984.0,1122008.0,4052007.0,3071989.0
tenure_rais,22.0,121.0,81.0,249.0,204.0,19.0,20.0,310.0,2.0,102.0,...,21.0,18.0,106.0,11.0,13.0,136.0,413.0,12.0,139.0,257.0
stem_job,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
tenure,22.0,12.0,81.0,254.0,319.0,23.0,41.0,322.0,2.0,108.0,...,44.0,18.0,128.0,11.0,13.0,60.0,413.0,12.0,24.0,257.0
max_year,2006.0,2018.0,2010.0,2010.0,2004.0,2018.0,2006.0,2009.0,2009.0,2010.0,...,2013.0,2014.0,2008.0,2009.0,2012.0,2018.0,2018.0,2009.0,2018.0,2010.0
rdd,2.0,2.0,1.0,1.0,1.0,1.0,2.0,2.0,1.0,1.0,...,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0,1.0
rdd_stem_won,0,0,1,0,1,0,0,0,0,0,...,1,0,0,0,1,0,0,1,1,0
date,2021-07-01,2021-07-01,2021-07-01,2021-07-01,2021-07-01,2021-07-01,2021-07-01,2021-07-01,2021-07-01,2021-07-01,...,2021-07-01,2021-07-01,2021-07-01,2021-07-01,2021-07-01,2021-07-01,2021-07-01,2021-07-01,2021-07-01,2021-07-01
state,RO,RO,RO,RO,RO,RO,RO,RO,RO,RO,...,GO,GO,GO,GO,GO,GO,GO,GO,GO,GO
city,Alta Floresta D'Oeste,Alta Floresta D'Oeste,Cabixi,Cacoal,Cerejeiras,Colorado do Oeste,Espigão D'Oeste,Espigão D'Oeste,Guajará-Mirim,Ji-Paraná,...,Anhanguera,Aragoiânia,Buriti Alegre,Campos Belos,Flores de Goiás,Nova Iguaçu de Goiás,Palmelo,Petrolina de Goiás,Rio Quente,Terezópolis de Goiás

In [158]:
df_tenure.query("cpf == '46645632134'")

,cpf,cbo_2002,cnpj_raiz,data_adm,count,tenure,Ano,first_year,first_job,previous_tenure,tenure_job,stem_job,total_tenure
16980,46645632134,234730,34075739,1022005,1,10,2005,2005,True,0.0,10.0,0,360.0
16981,46645632134,241005,3979390,1061986,5,270,2008,2008,True,0.0,270.0,0,360.0
16977,46645632134,234105,3226149,4092001,5,87,2008,2008,True,0.0,87.0,1,121.0
16979,46645632134,234705,6099229,1032006,5,57,2010,2010,True,0.0,57.0,0,360.0
16978,46645632134,234105,34075739,1022008,3,34,2010,2010,True,0.0,34.0,1,121.0
16976,46645632134,111415,3501509,1012017,2,23,2018,2018,True,0.0,23.0,0,360.0