# Descrição do programa

- Esse programa baixa dados eleitorais de 2016 e cria variável eleitorais a nível de candidatos

# TODO

# Configurando o ambiente

In [1]:
import pandas as pd
import numpy as np
import basedosdados as bd

work_dir   = "C:/Users/gabri/OneDrive/Gabriel/Insper/Tese/Engenheiros/replication_code/1_create_electoral_data/"
output_dir = "C:/Users/gabri/OneDrive/Gabriel/Insper/Tese/Engenheiros/replication_code/1_create_electoral_data/output/"

# Procurando candidatos eleitos na BD+

In [2]:
query = """ SELECT
                *         
            FROM `basedosdados.br_tse_eleicoes.candidatos` candidatos
            INNER JOIN `basedosdados.br_tse_eleicoes.resultados_candidato` resultados
            ON candidatos.id_candidato_bd = resultados.id_candidato_bd
            WHERE candidatos.cargo = 'prefeito'
            AND resultados.cargo = 'prefeito'
            AND resultados.tipo_eleicao = 'eleicao ordinaria'
            AND candidatos.tipo_eleicao = 'eleicao ordinaria'
            AND resultados.turno = 1
            AND (resultados.ano = 2016)
            AND (candidatos.ano = 2016) """

df_candidatos = bd.read_sql(query, billing_project_id= "econometria-314719")

Downloading: 100%|███████████████████████████████████████████████████████████| 15988/15988 [00:11<00:00, 1346.38rows/s]

### salvando

In [3]:
df_candidatos.to_csv(output_dir + 'data/df_candidatos_2016.csv', sep = ";", index = False, encoding = "utf-8-sig")

### abrindo

In [4]:
#df_candidatos = pd.read_csv(output_dir + "data/df_candidatos.csv", sep = ";", dtype = {"id_municipio": str, "id_municipio_tse": str, "id_candidato_bd": str, "cpf": str})

In [5]:
len(df_candidatos)

15988

In [6]:
len(df_candidatos["id_municipio"].unique())

5564

- Ou seja, dos 5568 municípios brasileiros, apenas 4 não tiveram eleições ordinárias

### Excluindo candidatos que não receberam nenhum voto

In [7]:
df_candidatos = df_candidatos[df_candidatos["votos"] != 0]

### Excluindo municípios com apenas 1 candidato

In [8]:
df_candidatos['n_candidatos'] = df_candidatos.groupby(['id_municipio'])['id_municipio'].transform('count')

In [9]:
df_candidatos = df_candidatos[df_candidatos['n_candidatos'] > 1]

In [10]:
len(df_candidatos[df_candidatos["ano"] == 2016]["id_municipio"].unique())

5312

- Ou seja, em torno de 243 municípios só tinham 1 candidato ou os outros candidatos receberam 0 votos

### Mantendo apenas municípios onde candidato foi eleito no primeiro turno

In [11]:
df_candidatos["decisao_primeiro_turno"] = df_candidatos["resultado"] == 'eleito'

In [12]:
df_candidatos["decisao_primeiro_turno"] = df_candidatos.groupby(['id_municipio']).decisao_primeiro_turno.transform('sum')

In [13]:
df_candidatos = df_candidatos[df_candidatos["decisao_primeiro_turno"] == 1]

In [14]:
df_candidatos.resultado.value_counts()

nao eleito    9461
eleito        5208
Name: resultado, dtype: int64

In [15]:
len(df_candidatos["id_municipio"].unique())

5208

- Ou seja, em torno de 121 municípios não tiveram decisão no 1 turno

### Criando variável de percentual de votos por candidato

In [16]:
df_candidatos["total_votos"] = df_candidatos.groupby(['id_municipio']).votos.transform('sum')

In [17]:
df_candidatos["%votos"] = (df_candidatos.votos / df_candidatos.total_votos)

### Criando variável para segundo lugar

In [18]:
df_candidatos["2_lugar"] = df_candidatos[df_candidatos["resultado"] == 'nao eleito'].groupby(['id_municipio']).votos.transform('max')

In [19]:
df_candidatos["2_lugar"] = df_candidatos.votos == df_candidatos["2_lugar"]

### Criando variável para terceiro lugar

In [20]:
df_candidatos["3_lugar"] = df_candidatos[(df_candidatos["resultado"] == 'nao eleito') & (df_candidatos["2_lugar"] == False)].groupby(['id_municipio', 'ano']).votos.transform('max')

In [21]:
df_candidatos["3_lugar"] = df_candidatos.votos == df_candidatos["3_lugar"]

### Mantendo apenas o eleito, o segundo e o terceiro lugar

In [22]:
df_candidatos = df_candidatos[(df_candidatos["resultado"] == 'eleito') | (df_candidatos["2_lugar"] == True) | (df_candidatos["3_lugar"] == True)]

### Criando variável de diferença entre primeiro e segundo candidatos e entre primeiro e terceiro candidatos

In [23]:
dif_segundo = pd.DataFrame(df_candidatos.groupby(['id_municipio'])['%votos'].apply(lambda x: x.nlargest(2).iloc[0] - x.nlargest(2).iloc[-1])).reset_index()

In [24]:
dif_segundo = dif_segundo.rename(columns = {"%votos": "dif_votos_2_lugar"})

In [25]:
df_candidatos = pd.merge(df_candidatos, dif_segundo, how = "outer", on = "id_municipio", indicator = True)

In [26]:
df_candidatos._merge.value_counts()

both          12931
left_only         0
right_only        0
Name: _merge, dtype: int64

In [27]:
df_candidatos = df_candidatos.drop(columns = "_merge")

In [28]:
dif_terceiros = pd.DataFrame(df_candidatos.groupby("id_municipio")['%votos'].apply(lambda x: x.nlargest(3).iloc[0] - x.nlargest(3).iloc[-1])).reset_index()

In [29]:
dif_terceiros = dif_terceiros.rename(columns = {"%votos": "dif_votos_3_lugar"})

In [30]:
df_candidatos = pd.merge(df_candidatos, dif_terceiros, how = "outer", on = "id_municipio", indicator = True)

In [31]:
df_candidatos._merge.value_counts()

both          12931
left_only         0
right_only        0
Name: _merge, dtype: int64

In [32]:
df_candidatos.describe()

,ano,idade,ano_1,turno,votos,n_candidatos,decisao_primeiro_turno,total_votos,%votos,dif_votos_2_lugar,dif_votos_3_lugar
count,12931.0,12930.000000,12931.0,12931.0,1.293100e+04,12931.000000,12931.0,1.293100e+04,12931.000000,12931.000000,12931.000000
mean,2016.0,49.359319,2016.0,1.0,5.847207e+03,2.986853,1.0,1.683105e+04,0.397293,0.161358,0.295986
std,0.0,10.789145,0.0,0.0,3.227289e+04,1.183470,0.0,9.409632e+04,0.181664,0.156098,0.200907
min,2016.0,21.000000,2016.0,1.0,1.000000e+00,2.000000,1.0,8.670000e+02,0.000235,0.000000,0.000268
25%,2016.0,42.000000,2016.0,1.0,1.404500e+03,2.000000,1.0,4.091500e+03,0.286940,0.051898,0.120303
50%,2016.0,49.000000,2016.0,1.0,2.712000e+03,3.000000,1.0,7.576000e+03,0.436670,0.117414,0.270617
75%,2016.0,57.000000,2016.0,1.0,5.612000e+03,3.000000,1.0,1.502800e+04,0.517981,0.219736,0.462389
max,2016.0,90.000000,2016.0,1.0,3.085187e+06,13.000000,1.0,5.789891e+06,0.990626,0.981252,0.981894

In [33]:
df_candidatos.loc[df_candidatos["n_candidatos"] == 2, "dif_votos_3_lugar"] = None # Colocando Null na diferença entre 1 e 3 candidato nos municípios que só têm 2 candidatos

In [35]:
df_candidatos.describe()

,ano,idade,ano_1,turno,votos,n_candidatos,decisao_primeiro_turno,total_votos,%votos,dif_votos_2_lugar,dif_votos_3_lugar
count,12931.0,12930.000000,12931.0,12931.0,1.293100e+04,12931.000000,12931.0,1.293100e+04,12931.000000,12931.000000,7543.000000
mean,2016.0,49.359319,2016.0,1.0,5.847207e+03,2.986853,1.0,1.683105e+04,0.397293,0.161358,0.388245
std,0.0,10.789145,0.0,0.0,3.227289e+04,1.183470,0.0,9.409632e+04,0.181664,0.156098,0.170052
min,2016.0,21.000000,2016.0,1.0,1.000000e+00,2.000000,1.0,8.670000e+02,0.000235,0.000000,0.003633
25%,2016.0,42.000000,2016.0,1.0,1.404500e+03,2.000000,1.0,4.091500e+03,0.286940,0.051898,0.256850
50%,2016.0,49.000000,2016.0,1.0,2.712000e+03,3.000000,1.0,7.576000e+03,0.436670,0.117414,0.407434
75%,2016.0,57.000000,2016.0,1.0,5.612000e+03,3.000000,1.0,1.502800e+04,0.517981,0.219736,0.509563
max,2016.0,90.000000,2016.0,1.0,3.085187e+06,13.000000,1.0,5.789891e+06,0.990626,0.981252,0.981894

# Salvando

In [36]:
df_candidatos.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 12931 entries, 0 to 12930
Data columns (total 50 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   ano                     12931 non-null  int64
 1   tipo_eleicao            12931 non-null  object
 2   sigla_uf                12931 non-null  object
 3   id_municipio            12931 non-null  object
 4   id_municipio_tse        12931 non-null  object
 5   id_candidato_bd         12931 non-null  object
 6   cpf                     12931 non-null  object
 7   titulo_eleitoral        12931 non-null  object
 8   sequencial              12931 non-null  object
 9   numero                  12931 non-null  object
 10  nome                    12931 non-null  object
 11  nome_urna               12931 non-null  object
 12  numero_partido          12931 non-null  object
 13  sigla_partido           12931 non-null  object
 14  cargo                   12931 non-null  object
 15  situacao                12931 non-null  object
 16  ocupacao                12931 non-null  object
 17  data_nascimento         12930 non-null  datetime64[ns]
 18  idade                   12930 non-null  float64
 19  genero                  12931 non-null  object
 20  instrucao               12931 non-null  object
 21  estado_civil            12931 non-null  object
 22  nacionalidade           12931 non-null  object
 23  sigla_uf_nascimento     12931 non-null  object
 24  municipio_nascimento    12931 non-null  object
 25  email                   12931 non-null  object
 26  raca                    12931 non-null  object
 27  ano_1                   12931 non-null  int64
 28  turno                   12931 non-null  int64
 29  tipo_eleicao_1          12931 non-null  object
 30  sigla_uf_1              12931 non-null  object
 31  id_municipio_1          12931 non-null  object
 32  id_municipio_tse_1      12931 non-null  object
 33  cargo_1                 12931 non-null  object
 34  numero_partido_1        12931 non-null  object
 35  sigla_partido_1         12931 non-null  object
 36  numero_candidato        12931 non-null  object
 37  sequencial_candidato    12931 non-null  object
 38  id_candidato_bd_1       12931 non-null  object
 39  resultado               12931 non-null  object
 40  votos                   12931 non-null  int64
 41  n_candidatos            12931 non-null  int64
 42  decisao_primeiro_turno  12931 non-null  int64
 43  total_votos             12931 non-null  int64
 44  %votos                  12931 non-null  float64
 45  2_lugar                 12931 non-null  bool
 46  3_lugar                 12931 non-null  bool
 47  dif_votos_2_lugar       12931 non-null  float64
 48  dif_votos_3_lugar       7543 non-null   float64
 49  _merge                  12931 non-null  category
dtypes: bool(2), category(1), datetime64[ns](1), float64(4), int64(7), object(35)
memory usage: 4.8+ MB

In [37]:
df_candidatos = df_candidatos.loc[:,["ano","tipo_eleicao", "sigla_uf","id_municipio","cpf","nome","nome_urna","numero_partido","sigla_partido","cargo","situacao","ocupacao","idade","genero","instrucao","raca","resultado","2_lugar","3_lugar","dif_votos_2_lugar","dif_votos_3_lugar"]]

In [38]:
df_candidatos.to_csv(output_dir + "data/df_candidatos_2016_clean.csv", sep = ";", index = False, encoding = "utf-8-sig")

In [39]:
cpfs_rdd = tuple(df_candidatos.cpf.unique())

In [40]:
len(cpfs_rdd)

12931